table {
  max-height: auto;
  justify-content: center;
}

.table-container {
  margin: 2%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1%;
}

.top-div {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  align-self: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1%;
  width: auto;

  .logs-btn {
    margin-left: 2%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 1%;
    background: linear-gradient(
      300deg,
      rgb(45, 47, 149) 0%,
      /* Darkened shade of blue for the start */ rgba(43, 45, 124, 0.85) 77%,
      /* Further darkened middle for depth, maintaining semi-transparency */
        rgba(36, 38, 119, 0.85) 100%
        /* Deepest end for a strong visual impact */
    );
    color: #ffffff;
    padding: 0px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.single {
  color: white;
  margin-top: 2%;
}

.package {
  color: white;
  margin-top: 2%;
}

.row {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* optional: to space out the <h2> tags evenly */
}

.row h3 {
  margin: 0; /* removes default margins */
  flex: 1; /* ensures equal width for all h2 */
  text-align: center; /* centers the text within each h2 */
}

.row h2 {
  margin: 0; /* removes default margins */
  flex: 1; /* ensures equal width for all h2 */
  text-align: center; /* centers the text within each h2 */
}

.row h4 {
  margin: 0; /* removes default margins */
  flex: 1; /* ensures equal width for all h2 */
  text-align: center; /* centers the text within each h2 */
}

.row h5 {
  margin: 0; /* removes default margins */
  flex: 1; /* ensures equal width for all h2 */
  text-align: center; /* centers the text within each h2 */
}
