<div #carouselContainer class="carousel-container">
  <!-- The inner container with flex display to hold all buttons -->
  <div class="carousel-wrapper">
  <div class="box">
    <div
      class="btn d-flex flex-row align-items-center flex-wrap"
      style="border-color: transparent"
    >
      <button mat-raised-button routerLink="{{ path['clientStatistics'] }}">
        <img src="../../../../../assets/white-buttons/data1.png"/>
        <p>Client Stats</p>
      </button>

      <button mat-raised-button routerLink="{{ path['campaignStatistics'] }}">
        <img src="../../../../../assets/white-buttons/data2.png"/>
        <p>Campaign Stats</p>
      </button>
    </div>
  </div>
</div>
</div>