.container {
  display: flex;
  justify-content: space-around; // Align items horizontally
  padding: 20px;
  align-items: stretch;
  flex-direction: row;

  .profile-section {
    background: linear-gradient(
      300deg,
      rgb(45, 47, 149) 0%, /* Darkened shade of blue for the start */
      rgba(43, 45, 124, 0.85) 77%, /* Further darkened middle for depth, maintaining semi-transparency */
      rgba(36, 38, 119, 0.85) 100% /* Deepest end for a strong visual impact */
    );

    border: 1px solid #34495e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-width: 300px;

    padding: 15px;
    transition: transform 0.2s;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    }

    .profile-item {
      border-bottom: 1px solid #34495e; // Separate items within a card
      padding-bottom: 10px; // Space at the bottom of each item
      margin-bottom: 10px; // Space between items
      color: #ffffff; // Text color for better contrast

      &:last-child {
        border-bottom: none; // Remove border for the last item
        padding-bottom: 0; // Remove bottom padding for the last item
        margin-bottom: 0; // Remove bottom margin for the last item
      }

      header {
        font-weight: bold;
        color: #ffffff; // Ensure header text is clearly visible
        margin-bottom: 5px; // Space between header and paragraph
      }

      p {
        margin: 0;
        color: #b0c4de; // Lighter text color for contrast and readability
      }
    }
  }
}
