<div class="container">
    <div class="profile-section">
      <article class="profile-item">
        <header>Email:</header>
        <p>{{ profileData?.data.Email }}</p>
      </article>

      <article class="profile-item">
        <header>Main Content Language:</header>
        <p>{{ profileData?.data.MainContentLanguage }}</p>
      </article>

      <article class="profile-item">
        <header>Main Vertical:</header>
        <p>{{ profileData?.data.MainVertical }}</p>
      </article>

      <article class="profile-item">
        <header>Nationality:</header>
        <p>{{ profileData?.data.Nationality }}</p>
      </article>
    </div>

    <div class="profile-section">
      <article class="profile-item">
        <header>ITP Relationship:</header>
        <p>{{ profileData?.data.ItpRelationship }}</p>
      </article>

      <article class="profile-item">
        <header>Location:</header>
        <p>{{ profileData?.data.CountryLocation }}</p>
      </article>

      <article class="profile-item">
        <header>KSA License:</header>
        <p>{{ profileData?.data.KSALicense | yesNo }}</p> <!-- Assuming Angular pipe for Yes/No -->
      </article>

      <article class="profile-item">
        <header>UAE License:</header>
        <p>{{ profileData?.data.UAELicense | yesNo }}</p> <!-- Assuming Angular pipe for Yes/No -->
      </article>
    </div>
</div>
