.info {
  padding: 2%;
  margin-left: 5%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  transform: scale(1.1);
}



p {
  color: #4F5D2F;
  justify-content: center;
  align-items: horizontal;
  font-size: 125%;
}

.influ-button {
  background-color: #403D58;
  color: #fff;
  width: fit-content;
  &:hover {
    background-color: #493d58; /* Darker shade on hover */
  }
}
