
.info {
    font-size: 40px;
    margin: 2%;
    padding: 2%;
    max-width: 20vw;
    transform: scale(1.3);

}

h1 {
    color: white;
}

p{
 color: aqua;
 justify-content: center;
 align-items: horizontal;
 font-size: 50%;
}
