.container {
  display: flex; // Establishes a flex container
  flex-direction: row; // Aligns children (tables) in a row
  justify-content: flex-start; // Aligns children at the start of the container
  margin-left: 0;
  margin-right: auto;

  > div {

    // Applies styles to each direct child div (table container)
    flex: 1; // Each table container will take up equal width

    h1{
      color: white;
    }

    .wrap-line{
      max-width: 250px; // Sets the maximum width of the suggestion column
      word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
      padding: 5px ; // Adds padding around the text in the suggestion column
    }

    &:nth-child(2) {
      // Specifically targets the second child (middle table)
      padding: 0 10%; // Adds more horizontal padding around the middle table
    }

    table {
      width: 100%; // Table takes up full width of the container
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
      margin: auto;
      overflow: hidden;


      // Targeting the suggestion column specifically

    }
  }

  @media (max-width: 1850px) {  // Media query for smaller screens
    flex-direction: row;   // Stack the child divs vertically on smaller screens
    > div {
      .wrap-line{
        max-width: 250px; // Sets the maximum width of the suggestion column
        word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
        padding: 5px ; // Adds padding around the text in the suggestion column
      }
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding: 0 5%;        // Uniform padding for the middle table in smaller screens
      }
    }
  }
  @media (max-width: 1700px) {  // Media query for smaller screens
    flex-direction: row;   // Stack the child divs vertically on smaller screens
    > div {
      .wrap-line{
        max-width: 250px; // Sets the maximum width of the suggestion column
        word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
        padding: 5px ; // Adds padding around the text in the suggestion column
      }
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding: 0 5%;        // Uniform padding for the middle table in smaller screens
      }
    }
  }

  @media (max-width: 1600px) {  // Media query for smaller screens
    flex-direction: row;   // Stack the child divs vertically on smaller screens
    > div {
      .wrap-line{
        max-width: 200px; // Sets the maximum width of the suggestion column
        word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
        padding: 5px ; // Adds padding around the text in the suggestion column
      }
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding:0  5% ;        // Uniform padding for the middle table in smaller screens
      }
    }
  }

  @media (max-width: 1500px) {  // Media query for smaller screens
    flex-direction: row;   // Stack the child divs vertically on smaller screens
    > div {
      .wrap-line{
        max-width: 150px; // Sets the maximum width of the suggestion column
        word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
        padding: 5px ; // Adds padding around the text in the suggestion column
      }
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding:0  5% ;        // Uniform padding for the middle table in smaller screens
      }
    }
  }

  @media (max-width: 1300px) {  // Media query for smaller screens
    flex-direction: column;   // Stack the child divs vertically on smaller screens
    > div {
      .wrap-line{
        max-width: 100px; // Sets the maximum width of the suggestion column
        word-wrap: break-word; // Ensures words break and wrap onto the next line if necessary
        padding: 5px ; // Adds padding around the text in the suggestion column
      }
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding: 5%  0 ;        // Uniform padding for the middle table in smaller screens
      }
    }
  }

  @media (max-width: 1000px) {  // Media query for smaller screens
    flex-direction: column;   // Stack the child divs vertically on smaller screens
    > div {
      flex:1;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding: 2% 0;        // Uniform padding for the middle table in smaller screens
      }
    }
  }



  @media (max-width: 800px) {  // Media query for smaller screens
    flex-direction: column;   // Stack the child divs vertically on smaller screens
    > div {
      flex: 0 0 100%;         // Each child div takes the full width of the container
      &:nth-child(2) {
        padding: 2% 0;        // Uniform padding for the middle table in smaller screens
      }
    }
  }

}

.actions{
  display: flex;

  mat-icon{
    flex: 1;
    flex-direction: row;
  }

}

.cdk-drag-preview {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-row.dragging {
  cursor: move;
  opacity: 0.7;
}

.mat-row:not(.dragging) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}









