<ng-container>
  <div class="form-container">
    <form
      [formGroup]="updateProfile"
      (ngSubmit)="updateUser()"
      autocomplete="off"
    >
      <div class="row">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="oldPassword"
            autocomplete="off"
            required
          />
          <mat-error
            *ngIf="
              updateProfile.controls['oldPassword'].invalid &&
              updateProfile.controls['oldPassword'].touched
            "
          >
            Please enter the old password.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword1"
            autocomplete="off"
            required
          />
          <mat-error
            *ngIf="
              updateProfile.controls['newPassword1'].invalid &&
              updateProfile.controls['newPassword1'].touched
            "
          >
            Password should be at least 8 characters.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword2"
            autocomplete="off"
            required
          />
          <div *ngIf="passwordMatchError" class="text-danger">
            Passwords do not match!
          </div>
        </mat-form-field>
      </div>



      <button
        mat-raised-button
        style="margin-bottom: 2%"
        (click)="updateUser()"
      >
        Change Password
      </button>
    </form>
  </div>
</ng-container>
