  .form-container {
    max-height: auto;
    padding-top: 2%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 10px;
  }


  mat-form-field {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .edit {
    background-color: #4789A1;
    color: white;
    margin-left: 5px;
  }