.table-container {
  margin: 2%;
  margin-top: 4%;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;

  margin-top: 1px;
}

.input-group {
  display: flex;
  align-items: stretch; /* Align items vertically */
  width: 100%;
}

.search-bar {
  width:150px ; /* Adjust this as needed */
}
.clear-btn{
  display: flex;

  margin-right: 30px;
  justify-content: flex-end; 
}
.clear-button {
  border:none;
  background:rgba(255,255,255,0.1);
  border-radius:12px;
  border-top: 1px solid rgba(255,255,255,0.2);
  box-shadow:0 13px 21px rgba(0,0,0,0.05);
  margin-bottom:20px;
  height:40px;
 min-width: 150px;
   color:white;
  padding-left:10px;

  &:hover{
    
background:rgba(255, 255, 255, 0.133); 
box-shadow:0 13px 21px rgba(0,0,0,0.05);
  }

  /* Add more styling as needed */
}

.add-button{
  border:none;
  background:rgba(255,255,255,0.1);
  border-radius:12px;
  border-top: 1px solid rgba(255,255,255,0.2);
  box-shadow:0 13px 21px rgba(0,0,0,0.05);
  margin-top: 20px;
  margin-bottom: 20px;
  height:35px;
  color:white;
  padding-left:10px;
  min-width:100px;
  &:hover{
    background:rgba(0, 78, 13, 0.36); 
    box-shadow:0 13px 21px rgba(0,0,0,0.05);
  }
}

.delete-button{
  border:none;
  background:rgba(255,255,255,0.1);
  border-radius:12px;
  border-top: 1px solid rgba(255,255,255,0.2);
  box-shadow:0 13px 21px rgba(0,0,0,0.05);
margin-top: 20px;
margin-bottom: 20px;
  height:35px;
  color:white;
  padding-left:10px;
  min-width:100px;
  &:hover{
    background:rgba(152, 0, 0, 0.318); 
    box-shadow:0 13px 21px rgba(0,0,0,0.05);
  }
}

h2{
  margin-top: 2%;
}


.influencers {
  ul {
    li {
      display: flex; // Set the list items as flex containers
      justify-content: space-between; // Spread out content between start and end of each item
      align-items: center; // Align items vertically in the center

      .delete-button {
        margin-left: auto; // Pushes the button to the far right
      }
    }
  }
}
.close-button{
margin-top: 5px;
margin-left: 5px;

}
.edit{
  border:none;
  background:rgba(255,255,255,0.1);
  border-radius:12px;
  border-top: 1px solid rgba(255,255,255,0.2);
  box-shadow:0 13px 21px rgba(0,0,0,0.05);
  margin-bottom:20px;
  height:40px;
 min-width: 150px;
   color:white;
  padding-left:10px;

  &:hover{
    
background:rgba(255, 255, 255, 0.133); 
box-shadow:0 13px 21px rgba(0,0,0,0.05);}}
.vertical-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  padding: 20px;
max-width: 1500px;
  margin: auto;
  overflow: hidden;
}