.page-container {
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Adjusted the base color to a lighter tone for a more modern feel */
  background-color: hsla(232, 60%, 20%, 1);
  /* Lightened the gradient colors and made them more subtle */
  background-image: radial-gradient(
      at 86% 97%,
      hsla(271, 60%, 30%, 0.5) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 58%, hsla(210, 60%, 50%, 0.3) 0px, transparent 50%);
  animation: gradient 5s ease infinite;
  background-size: 120% 120%;

  @keyframes gradient {
    0% {
      background-position: 0% 20%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 50% 70%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      // reduce size of image to fit
      margin-top: -10%;
      max-width: 40%;
      margin-right: 2%;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }

  .login-container {
    margin-top: -5%;
    background-color: rgba(144, 144, 201, 0.08); // Transparent background
    position: relative; // Position relative for z-index
    animation: fade-in 1s; // Fade in animation
    padding: 3% 2%; // Padding
    border: 1px solid linear-gradient(
      90deg,
      #1f1fd66b 0%,
      rgba(14, 14, 163, 0.4) 100%
    );
// White border
    border-radius: 10px; // Rounded corners
    width: 300px; // Width
    z-index: 14; // Higher z-index to place it on top of the background
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden; // Ensure animation stays within the container


    mat-form-field {
      width: 100% !important;
    }

    .custom-form-field {
      background-color: transparent !important;
      z-index: 20;
      &::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: #1f1fd66b;
        background: linear-gradient(
          90deg,
          #1f1fd633 0%,
          rgba(8, 8, 85, 0.2) 100%
        );

        color: white;

        border-radius: 10px !important;
      }
      &::ng-deep .mdc-line-ripple::before {
        background-color: transparent !important;
      }

      ::ng-deep .mat-mdc-form-field-infix {
        display: flex;
        flex-direction: row;
        justify-content: center;

        input {
          margin-left: 5%;
          color: white;
        }
      }
    }

    button {
      width: 100% !important;
      margin-bottom: 5%;
      background-color: transparent !important;
      color: #fff;
      font-weight: bold;
      border: 1px solid #1f1fd66b !important;
      border-radius: 10px !important;
      z-index: 20;

      &:disabled {
      }

      &:enabled {
        background-color: #1f1fd66b !important;
        color: #fff;
        border: 1px solid #1f1fd66b !important;

        animation: electric-current 10s infinite;

        @keyframes electric-current {
          0% {
            box-shadow: 0 0 0 0 transparent;
          }
          25% {
            box-shadow: 0 0 0 5px #1f1fd66b, 0 0 0 10px rgba(8, 8, 85, 0.4),
              0 0 0 5px #1f1fd66b;
          }
          50% {
            box-shadow: 0 0 0 0 transparent;
          }
          75% {
            box-shadow: 0 0 0 5px #1f1fd66b, 0 0 0 10px rgba(8, 8, 85, 0.4),
              0 0 0 5px #1f1fd66b;
          }
          100% {
            box-shadow: 0 0 0 0 transparent;
          }
        }
      }
      &:hover {
        background-color: #1f1fd66b !important;
        color: #fff;
        border: 1px solid #1f1fd66b !important;
      }
    }
  }

  .login-container::before {
    content: "";
    position: absolute;
    width: 10px; /* Dot size */
    height: 10px; /* Dot size */
    background-color: #fdd835; /* Dot color */
    border-radius: 50%; /* Make it circular */
    animation: electricCurrent 8s infinite linear, flicker 1s infinite; /* Apply animations */
    z-index: 15; /* Ensure it's above the container's content */
    box-shadow: 0 0 12px #fdd835, 0 0 16px #fdd835, 0 0 20px #fdd835; /* Glowing effect */
  }

  @keyframes electricCurrent {
    0%,
    100% {
      top: -15px; /* Half of the dot's height to align it with the top border */
      left: 0;
    }
    25% {
      top: -15px;
      left: calc(
        100%
      ); /* Adjust so the right edge of the dot touches the right border */
    }
    50% {
      top: calc(
        100%
      ); /* Adjust so the bottom edge of the dot touches the bottom border */
      left: 100%;
    }
    75% {
      top: calc(100%);
      left: -20px; /* Half of the dot's width to align it with the left border */
    }
    90% {
      top: 0;
      left: -15px;
    }
  }

  @keyframes flicker {
    0%,
    100% {
      box-shadow: 0 0 8px #fdd835, 0 0 12px #fdd835, 0 0 16px #fdd835;
    }
    50% {
      box-shadow: 0 0 15px #fdd835, 0 0 20px #fdd835, 0 0 25px #fdd835,
        0 0 30px #ff8c00; /* Brighter and wider glow */
    }
  }

  .login-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 10px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.maintenance {
  background-image: url("../../../../assets/images/maintanance_page.png");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mdc-text-field--outlined .mdc-notched-outline {
  border-color: white !important;
}
