<div class="youtube-details" *ngIf="fullProfile">
  <h3>YouTube Details</h3>

  <div class="basic-info metric-grid">
    <div class="metric-item" (click)="toggleYoutube()">
      <span class="metric-value">{{ fullProfile.username }}</span>
      <span class="metric-label">Channel Name</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.subscriberCount | number }}</span>
      <span class="metric-label">Subscribers</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.videoCount | number }}</span>
      <span class="metric-label">Total Videos</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.avgViews | number:'1.0-0' }}</span>
      <span class="metric-label">Avg. Views</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.avgLikes | number:'1.0-0' }}</span>
      <span class="metric-label">Avg. Likes</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.avgComments | number:'1.0-0' }}</span>
      <span class="metric-label">Avg. Comments</span>
    </div>
    <div class="metric-item">
      <span class="metric-value">{{ fullProfile.engagementRate | percent:'1.2-2' }}</span>
      <span class="metric-label">Engagement Rate</span>
    </div>
  </div>

  <div class="audience-demographics">
    <h4>Audience Demographics</h4>
    <div *ngFor="let category of demographicCategories">
      <h5>{{ category | titlecase }}</h5>
      <ul>
        <li *ngFor="let item of audienceDemographics[category].data">
          <span>{{ item.name }}</span>
          <span>{{ item.weight | percent:'1.2-2' }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="top-categories" *ngIf="topCategories.length > 0">
    <h4>Top Categories</h4>
    <ul>
      <li *ngFor="let category of topCategories">
        <span>{{ category.name }}</span>
        <span>{{ category.weight | percent:'1.2-2' }}</span>
      </li>
    </ul>
  </div>
</div>
