button {
 width: 7vh;
 height: 3vh;
  cursor: pointer;

  &:hover {
    background-color: transparent!important;
  }
}
.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56vh; /* Adjust this value as needed */
  width: 100%;
} 
