<div *ngIf="profile">
  <div class="instagram-details">
    <h3>{{ profile.Name }}</h3>

    <div class="social-info">
      <div class="instagram">
        {{ profile.instagramProfile.username }}
        {{ profile.instagramProfile.followerCount | number }} followers
      </div>
    </div>

    <div class="basic-info metric-grid">
      <div class="metric-item">
        <span class="metric-value">{{
          profile.instagramProfile.avgLikes | number
        }}</span>
        <span class="metric-label">Avg. Likes</span>
      </div>
      <div class="metric-item">
        <span class="metric-value">{{
          profile.instagramProfile.followerCount | number
        }}</span>
        <span class="metric-label">Followers</span>
      </div>
      <div class="metric-item">
        <span class="metric-value">{{
          profile.instagramProfile.engagementRate | percent
        }}</span>
        <span class="metric-label">Engagement Rate</span>
      </div>
    </div>

    <div class="audience-demographics">

      <h4>Audience Demographics</h4>
      <h5>Age & Gender split</h5>
      <div class="chart-container" style="height: 300px; width: 100%;">
        <canvas baseChart
          [datasets]="ageGenderChartData.datasets"
          [labels]="ageGenderChartData.labels"
          [options]="barChartOptions"
          [plugins]="[ChartDataLabels]"
          [legend]="true"
          type="bar">
        </canvas>
      </div>

      <h5>Gender Split</h5>
      <div class="chart-container gender-split" style="height: 300px; width: 100%;">
        <canvas baseChart
          [datasets]="genderChartData.datasets"
          [labels]="genderChartData.labels"
          [options]="genderChartOptions"
          [legend]="true"
          type="doughnut">
        </canvas>
      </div>

      <h5>Top Countries</h5>
      <ul>
        <li *ngFor="let country of getTopCountries()">
          {{ country.name }} {{ country.weight | percent }}
        </li>
      </ul>
    </div>

    <div class="top-brands">
      <h4>Follower Interests</h4>
      <ul>
        <li *ngFor="let interest of profile.instagramProfile.InstagramInterest">
          {{ interest.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
