
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">

    <!-- List of navigation items -->
    <mat-nav-list >
      <app-main
      [profileData]="influencerData"
      [id]="id"
      [influencerRating]="influencerRating"
    ></app-main>

      <a mat-list-item class="menu-item basic" [class.selected]="selectedComponent === 'basicInfo'" (click)="selectComponent('basicInfo')">
      <img src="../../../../../assets/white-buttons/information.png" />
        Basic Information
      </a>
      <a mat-list-item class="menu-item" [class.selected]="selectedComponent === 'socialMedia'" (click)="selectComponent('socialMedia')">
        <img src="../../../../../assets/white-buttons/social-media.png" />
        Social Media Links</a>
        <a mat-list-item class="menu-item" [class.selected]="selectedComponent === 'logs'" (click)="selectComponent('logs')">
          <img src="../../../../../assets/white-buttons/logs.png" />
          Logs</a>
      <a mat-list-item class="menu-item" [class.selected]="selectedComponent === 'remarks'" (click)="selectComponent('remarks')">
        <img src="../../../../../assets/white-buttons/remarks.png" />
        Remarks</a>

      <a mat-list-item class="menu-item" [class.selected]="selectedComponent === 'campaigns'" (click)="selectComponent('campaigns')">
        <img src="../../../../../assets/white-buttons/campaign.png" />
        Campaigns</a>
      <a mat-list-item class="menu-item" [class.selected]="selectedComponent === 'starrating'" (click)="selectComponent('starrating')">
        <img src="../../../../../assets/white-buttons/star.png" />
        Star Rating</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon style="color: aliceblue">close</mat-icon>
    </button>
    <!-- Main content will be rendered here based on the selection -->
<div class="content-area">
    <ng-container *ngIf="selectedComponent === 'basicInfo'">
      <app-table-content [profileData]="influencerData"></app-table-content
      >
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'socialMedia'">
      <app-platform-links [profileData]="influencerData"></app-platform-links>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'logs'">
      <app-logs-table
          [users]="users"
          [profileData]="influencerData"
          [id]="id"
        ></app-logs-table
      >
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'remarks'">
      <app-influencer-remarks
      [id]="id"
      [profileData]="influencerData"></app-influencer-remarks>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'campaigns'">
      <app-campaign-results [id]="id"></app-campaign-results>
     </ng-container>
     <ng-container *ngIf="selectedComponent === 'starrating'">
      <app-influencer-star-rating
      [influencerID]="id"
    ></app-influencer-star-rating
  >
     </ng-container>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
