.container {
 display: flex;
 justify-content: space-between;
 background-color: transparent;
 align-items: center;
 align-self: center;
}

.top-container{
  margin-top: 1%;
  margin-bottom: 1%;
}


.mat-mdc-tab-group  {
  --mdc-tab-indicator-active-indicator-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-active-ripple-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-inactive-ripple-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-inactive-focus-label-text-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-active-hover-label-text-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-active-focus-indicator-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
  --mat-tab-header-active-hover-indicator-color: linear-gradient(
    300deg,rgb(45, 47, 149) 0%,rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%
  );
}

