h1 {
  color: #fff;
}
.files-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hide-show-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 130px;
}

.hide-show-button mat-icon {
  font-size: 24px;
}
.hide-show-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;


  cursor: pointer;
  padding: 3px 10px 3px 5px; /* Adjusted padding values */

  &:hover {
    background-color: #4789a1;
  }

  margin-bottom: 1%;
}

.logs-button,
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 2%;
  width: 100%;



  .filter {
    flex-grow: 1;
    margin-right: 20px; // Space between filters

    &:last-child {
      margin-right: 0; // Remove margin for the last filter
    }
  }

  button {
    width: 15vh;
    height: auto;

  }
}

.edit {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 40px;
  min-width: 150px;
  color: white;
  padding: 10px 20px; /* Increased padding for better visual spacing */
  text-align: center; /* Center text alignment */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.edit:hover {
  background: rgba(255, 255, 255, 0.15); /* Slightly increased visibility on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow for 3D effect on hover */
}

.edit:active {
  background: rgba(255, 255, 255, 0.2); /* Darker background for active state */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate button press */
}
h2 {
  color: #ffffff !important;
}
.icons-btn{

  background-color: transparent;
  border: 0px;
  padding: 4px 6px;
  color: white;

  &:hover {
    background: linear-gradient(300deg, rgb(45, 47, 149) 0%, rgba(43, 45, 124, 0.85) 77%, rgba(36, 38, 119, 0.85) 100%);
    border-radius: 5px;
  }
}
.vertical-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  padding: 20px;
max-width: 1500px;
  margin: auto;
  overflow: hidden;
}
.btns {
  display: flex;
  margin-top: 10px;
  margin-right: 130px;
  justify-content: flex-end;
}

.files-section{
  margin-top: 1%;
}
