.form-container
{
  margin-top: 1%;
}

.icon-btn{
  color: red;

}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #4789A1;
}

button {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}