<form [formGroup]="form">
  <div class="row">
    <h2>Confirmed and Previous Influencers</h2>
    <mat-form-field appearance="outline" style="width: 50rem">
      <mat-label>Confirmed Influencers Handles </mat-label>
      <input
        matInput
        type="text"
        formControlName="ConfirmedInfluencerHandles"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 50rem">
      <mat-label>Previous Influncer Partners </mat-label>
      <input
        matInput
        type="text"
        formControlName="PreviousBrandAmbassadorsName"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <hr />
  <div class="row">
    <mat-form-field appearance="outline" style="width: 50rem">
      <mat-label>ITP Department</mat-label>
      <mat-select formControlName="ItpDepartment">
        <mat-option value="UAE"> UAE </mat-option>
        <mat-option value="KSA"> KSA </mat-option>
        <mat-option value="Originals"> Originals</mat-option>
        <mat-option value="Gaming"> Gaming </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 50rem">
      <mat-label>KPIs</mat-label>
      <input matInput type="text" formControlName="KPIs" autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="row">
    <div class="checkbox-container">
      <div class="checkbox-container">
        <mat-checkbox formControlName="Strategy">Strategy required</mat-checkbox>

        <mat-checkbox formControlName="Concept">Concept required</mat-checkbox>

        <mat-checkbox formControlName="Event">Event required</mat-checkbox>

        <mat-checkbox formControlName="Performance"
          >Performance Marketing required</mat-checkbox
        >
      </div>
    </div>
  </div>
</form>
