<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Change Password
    </div>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>

          <div *ngIf="passwordMatchError" class="text-danger">Passwords do not match!</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid" style="margin-top: 2%;">Submit</button>
        <div *ngIf="passwordChangeSuccess" class="mt-2 alert alert-success">Password changed successfully!</div>
        <div *ngIf="passwordChangeError" class="mt-2 alert alert-danger">Password change failed. Please try again later.</div>
      </form>
    </div>
  </div>
</div>
