.container {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh; 
  margin-bottom: 5vh;/* Adds space below the line */
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 25vh;
  height: 25vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card-header {
  padding-top: 4vh;
  position: relative;
  border-bottom: none !important;
  background-color:  rgb(105 105 105 / 0%) !important;

}

.profile-image {
  width: 10vh; // Adjust as needed
  height: 10vh; // Adjust as needed
  border-radius: 10%;
  margin-top: 2%;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.name {
  font-size: 1.5em;
  margin-top: 20px;
}

.title {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 20px;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 20px;
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to left, #ff758c 0%, #ff7eb3 100%);
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .rating, .activity {
    width: 50%;
  }

  .number {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
  }
}
