.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



.social {
  text-align: center;
  justify-content: center;
  color: white;
  padding: 0.5%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
  width: auto; /* Adjusted to automatically size based on children */
  overflow: auto; /* Ensures content stays within bounds */
  border: 1px solid #a4a4a45e;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);

}

.social li {
  flex: 1; /* Adjust flex-basis to auto so items can grow */
  min-width: 15vh;/* Minimum width to ensure content fits, adjust as necessary */
  min-height: 16.5vh; /* Minimum height to ensure content fits, adjust as necessary */
  border-radius: 10px;
  text-align: center;
  align-items: center;
  list-style: none;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap; /* Prevent wrapping */
}

.social p {
  margin-top: 10px;
  padding: 2px;
  font-size: 15px;
  color: #fff;
}

social ng-container {
 margin-top: 2%;
}
}
