<div class="content">
  <div class="social">
    <div class="items">
      <li *ngIf="profileData?.data.InstagramLink">
        <ng-container *ngIf="profileData?.data.InstagramLink">
          <a href="{{ profileData.data.InstagramLink }}" target="_blank">
            <br>
            <i class="bi bi-instagram" style="font-size: 2rem; color: #FFF ; margin-top: 1rem;"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.InstagramLink">
          <br>
          <i class="bi bi-instagram" style="font-size: 2rem; color: #FFF; margin-top: 1rem;"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.InstagramHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.InstagramFollowers | numberFormat }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TiktokLink">
        <ng-container *ngIf="profileData?.data.TiktokLink">
          <a href="{{ profileData.data.TiktokLink }}" target="_blank">
            <br>
            <i class="bi bi-tiktok" style="font-size: 2rem; color:#FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TiktokLink">
          <br>
          <i class="bi bi-tiktok" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.TiktokHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.TiktokFollowers | numberFormat }}
        </p>
      </li>

      <li *ngIf="profileData?.data.FacebookLink">
        <ng-container *ngIf="profileData?.data.FacebookLink">
          <a href="{{ profileData.data.FacebookLink }}" target="_blank">
            <br>
            <i class="bi bi-facebook" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.FacebookLink">
          <br>
          <i class="bi bi-facebook" style="font-size: 2rem; color: #FFF;"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.FacebookHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.FacebookFollowers | numberFormat }}
        </p>
      </li>

      <li *ngIf="profileData?.data.SnapchatLink">
        <ng-container *ngIf="profileData?.data.SnapchatLink">
          <a href="{{ profileData.data.SnapchatLink }}" target="_blank">
            <br>
            <i class="bi bi-snapchat" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.SnapchatLink">
          <br>
          <i class="bi bi-snapchat" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.SnapchatHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.SnapchatFollowers | numberFormat }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TwitterLink">
        <ng-container *ngIf="profileData?.data.TwitterLink">
          <a href="{{ profileData.data.TwitterLink }}" target="_blank">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-twitter-x" viewBox="0 0 16 16">
              <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
            </svg>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TwitterLink">
          <br>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
          </svg>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.TwitterHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.TwitterFollowers  | numberFormat}}
        </p>
      </li>

      <li *ngIf="profileData?.data.YoutubeLink">
        <ng-container *ngIf="profileData?.data.YoutubeLink">
          <a href="{{ profileData.data.YoutubeLink }}" target="_blank">
            <br>
            <i class="bi bi-youtube" style="font-size: 2rem; ; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.YoutubeLink">
          <br>
          <i class="bi bi-youtube" style="font-size: 2rem; ; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">{{ this.profileData?.data.YoutubeHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.YoutubeFollowers | numberFormat }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TwitchLink">
        <ng-container *ngIf="profileData?.data.TwitchLink">
          <a href="{{ profileData.data.TwitchLink }}" target="_blank">
            <br>
            <i class="bi bi-twitch" style="font-size: 2rem;; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TwitchLink">
          <br>
          <i class="bi bi-twitch" style="font-size: 2rem; ; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">{{ this.profileData?.data.TwitchHandle }}</p>
        <p class="mb-0">
          {{ this.profileData?.data.TwitchFollowers | numberFormat }}
        </p>
      </li>

    </div>
  </div>
</div>
