/* .content {
    align-items: center;
    text-align: center;
}

.social {
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}



.social li {
    border-radius: 0px;
    text-align: center;
    align-items: center;
    list-style: none;
}

.items {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
   flex-grow: 1;



}

.social p {
    margin-top: 10px;
    padding: 2px;
    font-size: 15px;
}
 */.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.social {
  text-align: center;
  color: white;
  padding: 1%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: auto; /* Adjusted to automatically size based on children */
  overflow: auto; /* Ensures content stays within bounds */

}

.social li {
  padding-top: 5%;
  flex: 1 1 auto; /* Adjust flex-basis to auto so items can grow */
  width: 15vh;/* Minimum width to ensure content fits, adjust as necessary */
  height: 20vh; /* Minimum height to ensure content fits, adjust as necessary */
  border-radius: 10px;
  text-align: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.social p {
  margin-top: 10px;
  padding: 2px;
  font-size: 15px;
  color: #fff;
}
