<div class="content">
  <div class="social">
    <div class="items">
      <li *ngIf="profileData?.data.InstagramLink">
        <ng-container *ngIf="profileData?.data.InstagramLink">
          <a href="{{ profileData.data.InstagramLink }}" target="_blank">
            <i class="bi bi-instagram" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.InstagramLink">
          <i class="bi bi-instagram" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.InstagramHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.InstagramFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TiktokLink">
        <ng-container *ngIf="profileData?.data.TiktokLink">
          <a href="{{ profileData.data.TiktokLink }}" target="_blank">
            <i class="bi bi-tiktok" style="font-size: 2rem; color:#FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TiktokLink">
          <i class="bi bi-tiktok" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.TiktokHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.TiktokFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.FacebookLink">
        <ng-container *ngIf="profileData?.data.FacebookLink">
          <a href="{{ profileData.data.FacebookLink }}" target="_blank">
            <i class="bi bi-facebook" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.FacebookLink">
          <i class="bi bi-facebook" style="font-size: 2rem; color: #FFF;"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.FacebookHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.FacebookFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.SnapchatLink">
        <ng-container *ngIf="profileData?.data.SnapchatLink">
          <a href="{{ profileData.data.SnapchatLink }}" target="_blank">
            <i class="bi bi-snapchat" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.SnapchatLink">
          <i class="bi bi-snapchat" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.SnapchatHandle }}
        </p>
        <p class="number">
          {{ this.profileData?.data.SnapchatFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TwitterLink">
        <ng-container *ngIf="profileData?.data.TwitterLink">
          <a href="{{ profileData.data.TwitterLink }}" target="_blank">
            <i class="bi bi-twitter" style="font-size: 2rem; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TwitterLink">
          <i class="bi bi-twitter" style="font-size: 2rem; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">
          {{ this.profileData?.data.TwitterHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.TwitterFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.YoutubeLink">
        <ng-container *ngIf="profileData?.data.YoutubeLink">
          <a href="{{ profileData.data.YoutubeLink }}" target="_blank">
            <i class="bi bi-youtube" style="font-size: 2rem; ; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.YoutubeLink">
          <i class="bi bi-youtube" style="font-size: 2rem; ; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">{{ this.profileData?.data.YoutubeHandle }}</p>
        <p class="number">
          {{ this.profileData?.data.YoutubeFollowers }}
        </p>
      </li>

      <li *ngIf="profileData?.data.TwitchLink">
        <ng-container *ngIf="profileData?.data.TwitchLink">
          <a href="{{ profileData.data.TwitchLink }}" target="_blank">
            <i class="bi bi-twitch" style="font-size: 2rem;; color: #FFF"></i>
          </a>
        </ng-container>
        <ng-container *ngIf="!profileData?.data.TwitchLink">
          <i class="bi bi-twitch" style="font-size: 2rem; ; color: #FFF"></i>
        </ng-container>
        <p class="mb-0">{{ this.profileData?.data.TwitchHandle }}</p>
        <p class="mb-0">
          {{ this.profileData?.data.TwitchFollowers }}
        </p>
      </li>

    </div>
  </div>
</div>
