.form-container {
  display: flex;
  flex-direction: column;
  max-height: auto;
  overflow: hidden;

  .search-bar {
    width: 100%;
    height: 10%;
    margin-left: 0px;
    display: flex;

    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background: linear-gradient(
        300deg,
        rgb(45, 47, 149) 0%,
        rgba(43, 45, 124, 0.85) 77%,
        rgba(36, 38, 119, 0.85) 100%
      );
    }
  }

  .filter-container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 1%;
    margin-bottom: 2%;

    mat-expansion-panel {
      display: block;
      width: 100%; // Stretch the panel to full width
      margin-top: 12px;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;

      mat-expansion-panel-header {
        background: linear-gradient(
          300deg,
          rgb(45, 47, 149) 0%,
          rgba(43, 45, 124, 0.85) 77%,
          rgba(36, 38, 119, 0.85) 100%
        );
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        width: min-content;
        mat-icon{
          color: white;
        }
        .mat-panel-title {
          color: white;
        }
      }

      ::ng-deep .mdc-text-field--filled,
      .mdc-text-field--focused {
        background: linear-gradient(
          300deg,
          rgb(45, 47, 149) 0%,
          rgba(43, 45, 124, 0.85) 77%,
          rgba(36, 38, 119, 0.85) 100%
        );
      }

      ::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above){
        background: linear-gradient(
          300deg,
          rgb(45, 47, 149) 0%,
          rgba(43, 45, 124, 0.85) 77%,
          rgba(36, 38, 119, 0.85) 100%
        );
      }
      .filter {
        display: inline-block;
        width: calc(
          100% / 5 - 10px
        ); // adjust the denominator based on the number of filters
        margin-right: 10px; // add space between filters

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  .table-container {
    width: 99%;
    max-height: auto;
    overflow-y: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 1%;
  }

  .red-cell {
    color: red;
  }
}
.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56vh; /* Adjust this value as needed */
  width: 100%;
}