<form [formGroup]="form" autocomplete="off">
  <div class="row">
    <mat-form-field>
      <mat-label> Name </mat-label>
      <input matInput type="text" formControlName="Name" autocomplete="off" />
      <mat-error
        *ngIf="form.controls['Name'].invalid && form.controls['Name'].touched"
      >
        Please enter a name.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        type="string"
        formControlName="Number"
        autocomplete="off"
      />
      <mat-error
        *ngIf="
          form.controls['Number'].invalid && form.controls['Number'].touched
        "
      >
        Please enter a number.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="Email" autocomplete="off" />
      <mat-error
        *ngIf="form.controls['Email'].invalid && form.controls['Email'].touched"
      >
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input
        matInput
        type="text"
        formControlName="Occupation"
        autocomplete="off"
      />
      <mat-error
        *ngIf="
          form.controls['Occupation'].invalid &&
          form.controls['Occupation'].touched
        "
      >
        Please enter an Occupation.
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isCelebrity">
      <mat-label>ITP Relationship</mat-label>
      <mat-select formControlName="ItpRelationship">
        <mat-option *ngFor="let country of itprelatioship" [value]="country">{{
          country
        }}</mat-option>
      </mat-select>

      <mat-error
        *ngIf="
          form.controls['ItpRelationship'].invalid &&
          form.controls['ItpRelationship'].touched
        "
      >
        Please enter the Relationship.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nationality</mat-label>
      <mat-select formControlName="Nationality">
        <mat-option *ngFor="let country of countries" [value]="country">{{
          country
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          form.controls['Nationality'].invalid &&
          form.controls['Nationality'].touched
        "
      >
        Please select a Nationality.
      </mat-error>
    </mat-form-field>
  </div>
</form>
