.mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-disabled-selected-icon-color: white;
    --mdc-checkbox-disabled-unselected-icon-color: white;
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #4789A1;
    --mdc-checkbox-selected-hover-icon-color: #4789A1;
    --mdc-checkbox-selected-icon-color: #4789A1;
    --mdc-checkbox-selected-pressed-icon-color: #4789A1;
    --mdc-checkbox-unselected-focus-icon-color: white;
    --mdc-checkbox-unselected-hover-icon-color: white;
    --mdc-checkbox-unselected-icon-color: white;
    --mdc-checkbox-unselected-pressed-icon-color: white;
    --mdc-checkbox-selected-focus-state-layer-color: #4789A1;
    --mdc-checkbox-selected-hover-state-layer-color: #4789A1;
    --mdc-checkbox-selected-pressed-state-layer-color: #4789A1;
    --mdc-checkbox-unselected-focus-state-layer-color: white;
    --mdc-checkbox-unselected-hover-state-layer-color: white;
    --mdc-checkbox-unselected-pressed-state-layer-color: white;



  }

  mat-datepicker-toggle{
    color: #fff;
  }


