.row{
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

mat-form-field {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

h1{
  margin: 2% 0;
  color: gold;
  justify-content: center;
}
