<form [formGroup]="form" autocomplete="off">
  <div class="row">
      <mat-form-field>
        <mat-label>Instagram Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="InstagramHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['InstagramHandle'].invalid &&
            form.controls['InstagramHandle'].touched
          "
        >
          Please enter Instagram Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Instagram Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="InstagramFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['InstagramFollowers'].invalid &&
            form.controls['InstagramFollowers'].touched
          "
        >
          Please enter Instagram Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Instagram Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="InstagramLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['InstagramLink'].invalid &&
            form.controls['InstagramLink'].touched
          "
        >
          Please enter Instagram Link.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Tiktok Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="TiktokHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TiktokHandle'].invalid &&
            form.controls['TiktokHandle'].touched
          "
        >
          Please enter Tiktok Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tiktok Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="TiktokFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TiktokFollowers'].invalid &&
            form.controls['TiktokFollowers'].touched
          "
        >
          Please enter Tiktok Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tiktok Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="TiktokLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TiktokLink'].invalid &&
            form.controls['TiktokLink'].touched
          "
        >
          Please enter Tiktok Link.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="isCelebrity">
      <mat-form-field  >
        <mat-label>SnapChat Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="SnapchatHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['SnapchatHandle'].invalid &&
            form.controls['SnapchatHandle'].touched
          "
        >
          Please enter SnapChat Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>SnapChat Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="SnapchatFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['SnapchatFollowers'].invalid &&
            form.controls['SnapchatFollowers'].touched
          "
        >
          Please enter SnapChat Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>SnapChat Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="SnapchatLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['SnapchatLink'].invalid &&
            form.controls['SnapchatLink'].touched
          "
        >
          Please enter SnapChat Link.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Twitter Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="TwitterHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitterHandle'].invalid &&
            form.controls['TwitterHandle'].touched
          "
        >
          Please enter Twitter Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Twitter Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="TwitterFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitterFollowers'].invalid &&
            form.controls['TwitterFollowers'].touched
          "
        >
          Please enter Twitter Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Twitter Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="TwitterLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitterLink'].invalid &&
            form.controls['TwitterLink'].touched
          "
        >
          Please enter Twitter Link.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row" *ngIf="isCelebrity">
      <mat-form-field>
        <mat-label>Facebook Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="FacebookHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['FacebookHandle'].invalid &&
            form.controls['FacebookHandle'].touched
          "
        >
          Please enter Facebook Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Facebook Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="FacebookFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['FacebookFollowers'].invalid &&
            form.controls['FacebookFollowers'].touched
          "
        >
          Please enter Facebook Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Facebook Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="FacebookLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['FacebookLink'].invalid &&
            form.controls['FacebookLink'].touched
          "
        >
          Please enter Facebook Link.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>YouTube Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="YoutubeHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['YoutubeHandle'].invalid &&
            form.controls['YoutubeHandle'].touched
          "
        >
          Please enter YouTube Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>YouTube Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="YoutubeFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['YoutubeFollowers'].invalid &&
            form.controls['YoutubeFollowers'].touched
          "
        >
          Please enter YouTube Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>YouTube Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="YoutubeLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['YoutubeLink'].invalid &&
            form.controls['YoutubeLink'].touched
          "
        >
          Please enter YouTube Link.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Twitch Handle</mat-label>
        <input
          matInput
          type="text"
          formControlName="TwitchHandle"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitchHandle'].invalid &&
            form.controls['TwitchHandle'].touched
          "
        >
          Please enter Twitch Handle.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Twitch Followers</mat-label>
        <input
          matInput
          type="number"
          formControlName="TwitchFollowers"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitchFollowers'].invalid &&
            form.controls['TwitchFollowers'].touched
          "
        >
          Please enter Twitch Followers.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Twitch Link</mat-label>
        <input
          matInput
          type="text"
          formControlName="TwitchLink"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            form.controls['TwitchLink'].invalid &&
            form.controls['TwitchLink'].touched
          "
        >
          Please enter Twitch Link.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
