.form-container
{
  margin: 3%;
}

.icon-btn{
  color: red;

}

.not-allowed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: not-allowed;
}


.submit-btn{
  align-self: flex-end;
  width: 15%;
  background-color: #3957b1;
  color: #FFF;
  border-radius: 10px!important;

  &:disabled {
    background-color: #1f3371;
    color: #FFF;
    opacity: 0.5;
  }
}
