.form-container
{
  margin-top: 1%;
}

.icon-btn{
  color: red;

}



.submit-btn{
  align-self: flex-end;
  width: 15%;
  background-color: #3957b1;
  color: #FFF;
  border-radius: 10px!important;

  &:disabled {
    background-color: #1f3371;
    color: #FFF;
    opacity: 0.5;
  }
}
