.container {
    display: inline-flex;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: auto;

    position: relative; /* Position it absolutely */
    margin-top: 5%;
    left: 50%;         /* Position 50% from the left */
    transform: translate(-50%, -50%); /* Center precisely */
}

.card-body {
    width: 100%;
    border: 0px solid;
    padding: 20px;
    color: white!important;
    border-radius: 0px;
}

.name {
    font-size: 6vh;
    font-weight: 700;
}




