<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <!-- List of navigation items -->
    <mat-nav-list>
      <app-celeb-prof-card
        [profileData]="celebrityData"
        [id]="id"
      ></app-celeb-prof-card>
      <a
        mat-list-item
        class="menu-item"
        [class.selected]="selectedComponent === 'basicInfo'"
        (click)="selectComponent('basicInfo')"
      >
        <img src="../../../../../assets/white-buttons/information.png" />
        Basic Information
      </a>
      <a
        mat-list-item
        class="menu-item"
        [class.selected]="selectedComponent === 'socialMedia'"
        (click)="selectComponent('socialMedia')"
      >
        <img src="../../../../../assets/white-buttons/social-media.png" />
        Social Media Links</a
      >
      <a
        mat-list-item
        class="menu-item"
        [class.selected]="selectedComponent === 'remarks'"
        (click)="selectComponent('remarks')"
      >
        <img src="../../../../../assets/white-buttons/remarks.png" />
        Remarks</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon style="color: aliceblue">close</mat-icon>
    </button>
    <!-- Main content will be rendered here based on the selection -->

    <ng-container *ngIf="selectedComponent === 'basicInfo'">
      <app-basic-info [profileData]="celebrityData"></app-basic-info>
      <app-celeb-bio [profileData]="celebrityData"></app-celeb-bio>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'socialMedia'">
      <app-platform-links [profileData]="celebrityData"></app-platform-links>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'remarks'">
      <app-celebrity-remarks
        [profileData]="celebrityData"
      ></app-celebrity-remarks>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
