.influencer {
  border-radius: 0px;
}

.container {
 display: flex;
justify-content: space-evenly;
 background-color: #232C30;
 align-items: center;
 padding: 20px;
 
}

.platform{
  
  justify-content: center;


}



.mat-mdc-tab-group  {
  background-color: #2C393F;
  --mdc-tab-indicator-active-indicator-color: #4789A1;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: #4789A1;
  --mat-tab-header-active-ripple-color: #4789A1;
  --mat-tab-header-inactive-ripple-color: #4789A1;
  --mat-tab-header-inactive-focus-label-text-color: #4789A1;
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: #4789A1;
  --mat-tab-header-active-hover-label-text-color: #4789A1;
  --mat-tab-header-active-focus-indicator-color: #4789A1;
  --mat-tab-header-active-hover-indicator-color: #4789A1;
}



.row{
  background-color: grey;
}



::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* customize the scroll bar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* customize the scroll bar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* customize the scroll bar width and height */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
