<button mat-icon-button class="close-button" (click)="closeDialog()">
  <mat-icon style="color: aliceblue">close</mat-icon>
</button>
<div *ngIf="celebrityData != undefined || celebrityData != null">
  <div class="top-container">
    <div class="bio-container">
      <app-celeb-prof-card
        [profileData]="celebrityData"
        [id]="id"
      ></app-celeb-prof-card>
    </div>
    <div class="platform-container">
    <app-platform-links

      [profileData]="celebrityData"
    ></app-platform-links>
  </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Basic Information"
      ><app-basic-info [profileData]="celebrityData"></app-basic-info
    ></mat-tab>

    <mat-tab label="Bio">
      <app-celeb-bio [profileData]="celebrityData"></app-celeb-bio>
    </mat-tab>

    <mat-tab label="Remarks"
      ><app-celebrity-remarks
        [profileData]="celebrityData"
      ></app-celebrity-remarks>
    </mat-tab>
  </mat-tab-group>
</div>
