<div class="card-header text-light; margin-top: 20px">
  {{ this.brief?.CampaignName }}
</div>

<div class="card">

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        1. Campaign Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="words">Agency: {{ brief?.Agency }}</p>
    <p class="words">Client: {{ brief?.client?.name }}</p>
    <p class="words">Client Industry: {{ brief?.client?.industry }}</p>
    <p class="words">Brand: {{ brief?.brand?.name}}</p>
    <p class="words">Campaign Overview: {{ brief?.CampaignOverview }}</p>
    <p class="words">
      Campaign Objective: {{ brief?.CampaignObjective }}
    </p>
    <p class="words">
      Campaign Objective Details: {{ brief?.CampaignObjectiveDetails }}
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        2. Campaign Details:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="words">
      Number of Recommendations: {{ brief?.NumberofRecommendations }}
    </p>
    <p class="words">Currency: {{ brief?.Currency }}</p>
    <p class="words">Budget: {{ brief?.Budget }}</p>
    <p class="words">
      Campaign Start Date: {{ brief?.CampaignStartDate | date }}
    </p>
    <p class="words">
      Campaign End Date: {{ brief?.CampaignEndDate | date }}
    </p>
    <p class="words">
      Campaign Message Phase One:{{ brief?.CampaignMessagePhaseOne }}
    </p>
    <p class="words">
      Campaign Message Phase Two:{{ brief?.CampaignMessagePhaseTwo }}
    </p>
    <p class="words">
      Campaign Message Phase Three:{{ brief?.CampaignMessagePhaseThree }}
    </p>
    <p class="words">
      Content Deliverables: {{ brief?.ContentDeliverables }}
    </p>
    <p class="words">
      Brand Exclusivity Duration in Days:{{
      brief?.data?.BrandExclusivityDurationinDays
      }}
    </p>
    <p class="words">
      Video Production:
      <span *ngIf="brief?.VideoProduction == 1"> Yes </span>
      <span *ngIf="brief?.VideoProduction == 0"> No</span>
    </p>
    <p class="words">
      Video Editing:
      <span *ngIf="brief?.VideoEditing == 1"> Yes </span>
      <span *ngIf="brief?.VideoEditing == 0"> No</span>
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        3. Influencer Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="words" *ngIf="brief?.InfluencerAgeRange != undefined">
      Influencer Age Range:{{ brief?.InfluencerAgeRange | ageGroup }}
    </p>
    <p class="words">
      Influencer Location: {{ brief?.InfluencerLocation }}
    </p>
    <p class="words">
      Influencer Nationality: {{ brief?.InfluencerNationality }}
    </p>
    <p class="words">Influencer Gender: {{ brief?.InfluencerGender }}</p>
    <p class="words">
      Similar Profile Link: {{ brief?.SimilarProfileLink }}
    </p>
    <p class="words">
      Influencer Interest: {{ brief?.InfluencerInterest }}
    </p>
    <p class="words">
      Influencer Number Of Followers:{{
      brief?.InfluencerNumberOfFollowers
      }}
    </p>
    <p class="words">
      Note For Number Of Followers:{{ brief?.NoteForNumberOfFollowers }}
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        4. Audience Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="words" *ngIf="brief?.AudienceAgeRange != undefined">
      Audience Age Range: {{ brief?.AudienceAgeRange | ageGroup }}
    </p>
    <p class="words">Audience Location: {{ brief?.AudienceLocation }}</p>
    <p class="words">
      Audience Nationality: {{ brief?.AudienceNationality }}
    </p>
    <p class="words">Audience Gender: {{ brief?.AudienceGender }}</p>
    <p class="words">Audience Interest: {{ brief?.AudienceInterest }}</p>
    <p class="words">
      Confirmed Influencer Handles:{{
      brief?.ConfirmedInfluencerHandles
      }}
    </p>
    <p class="words">
      Previous Brand Ambassadors Name:{{
      brief?.PreviousBrandAmbassadorsName
      }}
    </p>
    <p class="words">Created At: {{ brief?.createdAt | date }}</p>
    <p class="words">Updated At: {{ brief?.updatedAt | date }}</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        5. Associated Files:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="table-container">
      <table mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="originalname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
          <td mat-cell *matCellDef="let element">{{ element.originalname }}</td>
        </ng-container>

        <ng-container matColumnDef="fileType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
          <td mat-cell *matCellDef="let element">{{ element.fileType }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
          <td mat-cell *matCellDef="let element"> <mat-icon (click)="downloadFile(element.id, element.mimetype)"> download </mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          sticky
        ></tr>
      </table>
      <mat-paginator
        [length]="dataSource?.data.length"
        [pageSize]="15"
        [pageSizeOptions]="[3, 5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-expansion-panel>
</div>
