<div class="card-header text-light; margin-top: 20px">
  {{ this.brief?.CampaignName }}
</div>

<div class="card">

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        1. Campaign Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table style="width: 100%;">
      <tr class="row-color1">
        <td><strong>Agency:</strong></td>
        <td>{{ brief?.Agency }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Client:</strong></td>
        <td>{{ brief?.client?.name }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Client Industry:</strong></td>
        <td>{{ brief?.client?.industry }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Brand:</strong></td>
        <td>{{ brief?.brand?.name}}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Campaign Overview:</strong></td>
        <td>{{ brief?.CampaignOverview }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Campaign Objective:</strong></td>
        <td>{{ brief?.CampaignObjective }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Campaign Objective Details:</strong></td>
        <td>{{ brief?.CampaignObjectiveDetails }}</td>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        2. Campaign Details:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table style="width: 100%;">
      <tr class="row-color1">
        <td><strong>Number of Recommendations:</strong></td>
        <td>{{ brief?.NumberofRecommendations }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Currency:</strong></td>
        <td>{{ brief?.Currency }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Budget:</strong></td>
        <td>{{ brief?.Budget }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Campaign Start Date:</strong></td>
        <td>{{ brief?.CampaignStartDate | date }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Campaign End Date:</strong></td>
        <td>{{ brief?.CampaignEndDate | date }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Campaign Message Phase One:</strong></td>
        <td>{{ brief?.CampaignMessagePhaseOne }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Campaign Message Phase Two:</strong></td>
        <td>{{ brief?.CampaignMessagePhaseTwo }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Campaign Message Phase Three:</strong></td>
        <td>{{ brief?.CampaignMessagePhaseThree }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Content Deliverables:</strong></td>
        <td>{{ brief?.ContentDeliverables }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Brand Exclusivity Duration in Days:</strong></td>
        <td>{{ brief?.data?.BrandExclusivityDurationinDays }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Video Production:</strong></td>
        <td>{{ brief?.VideoProduction == 1 ? 'Yes' : 'No' }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Video Editing:</strong></td>
        <td>{{ brief?.VideoEditing == 1 ? 'Yes' : 'No' }}</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        3. Influencer Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table style="width: 100%;">
      <tr class="row-color1" *ngIf="brief?.InfluencerAgeRange != undefined">
        <td><strong>Influencer Age Range:</strong></td>
        <td>{{ brief?.InfluencerAgeRange | ageGroup }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Influencer Location:</strong></td>
        <td>{{ brief?.InfluencerLocation }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Influencer Nationality:</strong></td>
        <td>{{ brief?.InfluencerNationality }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Influencer Gender:</strong></td>
        <td>{{ brief?.InfluencerGender }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Similar Profile Link:</strong></td>
        <td><a href="{{ brief?.SimilarProfileLink }}" target="_blank">{{ brief?.SimilarProfileLink }}</a></td>
      </tr>
      <tr class="row-color2">
        <td><strong>Influencer Interest:</strong></td>
        <td>{{ brief?.InfluencerInterest }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Influencer Number Of Followers:</strong></td>
        <td>{{ brief?.InfluencerNumberOfFollowers }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Note For Number Of Followers:</strong></td>
        <td>{{ brief?.NoteForNumberOfFollowers }}</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        4. Audience Information:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table style="width: 100%;">
      <tr class="row-color1" *ngIf="brief?.AudienceAgeRange != undefined">
        <td><strong>Audience Age Range:</strong></td>
        <td>{{ brief?.AudienceAgeRange | ageGroup }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Audience Location:</strong></td>
        <td>{{ brief?.AudienceLocation }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Audience Nationality:</strong></td>
        <td>{{ brief?.AudienceNationality }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Audience Gender:</strong></td>
        <td>{{ brief?.AudienceGender }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Audience Interest:</strong></td>
        <td>{{ brief?.AudienceInterest }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Confirmed Influencer Handles:</strong></td>
        <td>{{ brief?.ConfirmedInfluencerHandles }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Previous Brand Ambassadors Name:</strong></td>
        <td>{{ brief?.PreviousBrandAmbassadorsName }}</td>
      </tr>
      <tr class="row-color2">
        <td><strong>Created At:</strong></td>
        <td>{{ brief?.createdAt | date }}</td>
      </tr>
      <tr class="row-color1">
        <td><strong>Updated At:</strong></td>
        <td>{{ brief?.updatedAt | date }}</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        5. Associated Files:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="table-container secondtable">
      <table mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="originalname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
          <td mat-cell *matCellDef="let element">{{ element.originalname }}</td>
        </ng-container>

        <ng-container matColumnDef="fileType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
          <td mat-cell *matCellDef="let element">{{ element.fileType }}</td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>File Notes </th>
          <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let element">
            <!-- Download button for all files -->
            <mat-icon class="hoverglow" (click)="downloadFile(element.id, element.filename)">download</mat-icon>
            <!-- Visibility button only for PDFs -->
            <mat-icon class="hoverglow" *ngIf="element.fileType === 'pdf'" (click)="openFile(element.id)">visibility</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          sticky
        ></tr>
      </table>
    </div>
  </mat-expansion-panel>
</div>
