
<div class="form-container">
  <h2 style="text-align: center;">New Influencer</h2>
   <!-- GENERAL INFORMATION HERE -->

  <mat-tab-group [(selectedIndex)]="activeTabIndex">
    <mat-tab label="General Information"  class="tab-with-border">
      <form [formGroup]="newInfluencerForm" (ngSubmit)="onSubmit()" autocomplete="off">
             <app-general-info formGroupName="generalInfo" [isCelebrity]="isNotCelebrity"></app-general-info>


      </form>
    </mat-tab>

    <!-- SOCIALS AND LICENSE HERE -->
    <mat-tab label="Socials" >
      <form [formGroup]="newInfluencerForm" (ngSubmit)="onSubmit()" autocomplete="off">
       <app-socials formGroupName="socials"></app-socials>
      
  
      </form>
    </mat-tab>
    <!-- License & Agency InformationHERE -->
 
   <mat-tab label="License & Agency Information"  class="tab-with-border">
      <form [formGroup]="newInfluencerForm" (ngSubmit)="onSubmit()" autocomplete="off">
               <app-agency-info formGroupName="agencyInfo" [isCelebrity]="isNotCelebrity"></app-agency-info>
       

               <div class="row">
                <mat-checkbox  color="primary" formControlName="KSALicense">KSA License</mat-checkbox>
              </div>
          
              <div class="row">
                <mat-checkbox color="primary" formControlName="UAELicense">UAE License</mat-checkbox>
              </div>
      </form>
    </mat-tab>

    <mat-tab label=" Extra Information"  class="tab-with-border">
      <form [formGroup]="newInfluencerForm" (ngSubmit)="onSubmit()" autocomplete="off">
            
               <app-extra-info formGroupName="extraInfo" [isCelebrity]="isNotCelebrity"></app-extra-info>


      </form>
    </mat-tab>
    
  
      

  </mat-tab-group>
  <div style="display: flex; justify-content: space-between;">
    <button mat-raised-button color="primary" (click)="prevTab()" [disabled]="activeTabIndex === 0" [style.visibility]="activeTabIndex === 0 ? 'hidden' : 'visible'" style="margin-right: 10px; border-radius: 10px !important;">Previous</button>
    <ng-container *ngIf="activeTabIndex !== tabCount - 1">
      <button mat-raised-button color="primary" (click)="nextTab()" [disabled]="activeTabIndex === tabCount - 1" [style.visibility]="activeTabIndex === tabCount - 1 ? 'hidden' : 'visible'" style="border-radius: 10px !important;">Next</button>
    </ng-container>

    <!-- SUBMIT BUTTON HERE -->
    <ng-container *ngIf="activeTabIndex === tabCount - 1">
      <form [formGroup]="newInfluencerForm" (ngSubmit)="onSubmit()" autocomplete="off" style="display: flex; justify-content: center;">
        <button mat-raised-button color="primary" type="submit" [disabled]="!newInfluencerForm.valid" style="margin: 2% auto;border-radius: 15px !important; color: white; width: 200px;">     Add new Influencer</button>
      </form>  
    </ng-container>
  </div>
  

  
</div>


