<div class="container">
  <div class="profile-section">
    <article class="profile-item">
      <header>Email:</header>
      <p>{{ profileData?.data.Email }}</p>
    </article>

    <article class="profile-item">
      <header>Main Content Language:</header>
      <p>{{ profileData?.data.MainContentLanguage }}</p>
    </article>

    <article class="profile-item">
      <header>Main Vertical:</header>
      <p>{{ profileData?.data.MainVertical }}</p>
    </article>

    <article class="profile-item">
      <header>Nationality:</header>
      <p>{{ profileData?.data.Nationality }}</p>
    </article>
  </div>

  <div class="profile-section">
    <article class="profile-item">
      <header>Contact Person:</header>
      <p>{{ profileData?.data.AgencyContactPerson }}</p>
    </article>

    <article class="profile-item">
      <header>Contact Person Email:</header>
      <p>{{ profileData?.data.AgencyEmail }}</p>
    </article>

    <article class="profile-item">
      <header>Contact Person Phone Number:</header>
      <p>{{ profileData?.data.AgencyNumber }}</p>
    </article>

    <article class="profile-item">
      <header>Location:</header>
      <p>{{ profileData?.data.CountryLocation }}</p>
    </article>
  </div>
</div>
