.container {
  display: flex;
  justify-content: space-around; // Align items horizontally
  padding: 20px;
  align-items: stretch;
  flex-direction: row;
  margin-top: 3%;

  .profile-section {
    background: linear-gradient(0deg, rgba(176, 186, 225, 0.2) 0%, rgba(176, 186, 225, 0.15) 20%, rgba(176, 186, 225, 0.1) 70%, rgba(176, 186, 225, 0.02) 100%);

    border: 2px solid #a4a4a42d;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-width: 300px;
    margin:10px;
    padding: 15px;
    transition: transform 0.2s;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
    }

    .profile-item {
      border-bottom: 1px solid #34495e; // Separate items within a card
      padding-bottom: 10px; // Space at the bottom of each item
      margin-bottom: 10px; // Space between items
      color: #ffffff; // Text color for better contrast

      &:last-child {
        border-bottom: none; // Remove border for the last item
        padding-bottom: 0; // Remove bottom padding for the last item
        margin-bottom: 0; // Remove bottom margin for the last item
      }

      header {
        font-weight: bold;
        color: #ffffff; // Ensure header text is clearly visible
        margin-bottom: 5px; // Space between header and paragraph
      }

      p {
        margin: 0;
        color: #b0c4de; // Lighter text color for contrast and readability
      }
    }
  }
}
