.container {
    width: fit-content;
}

.card {
    width: 580px;
    background-color: transparent;
    padding: 20px;
    border-radius: 0px;
    color: white;
    border: 0px solid;

}

.progress-bar {
    background-color: #3f51b5;
}

@media (max-width: 1440px),
(max-height: 900px) {
    .card {
        width: 535px;
    }
}