// General Styles
body {
  font-family: Arial, sans-serif;
}

h2, h3, h4, h5 {
  margin: 10px 0;
  text-align: center;

}

// Table Styles
.table-container {

  table {
    width: 100%;
    th, td {
      text-align: left;
      padding: 8px;
    }
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
}

// Button and Filter Container Styles
.logs-button,
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1%;
  width: 100%;

  .filter {
    flex-grow: 1;
    margin-right: 20px; // Space between filters
width: fit-content;
    &:last-child {
      margin-right: 0; // Remove margin for the last filter
    }
  }

  button {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #4789A1;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #6190a1;
    }
  }
}

// Paginator Styles
mat-paginator {
  background-color: #f0f0f0;
  .mat-form-field {
    margin: 0 12px;
  }
}

// Log Details Styles
.single, .package {
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-radius: 4px;
  margin-top: 20px;

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .logs-button,
  .filter-container {
    flex-direction: column;
    align-items: stretch;

    .filter, button {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Custom Scrollbars
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  &:hover {
    background-color: #555;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.mat-expansion-panel  {
  background: #1f3371 !important;
  color: rgba(0, 0, 0, .87);

}
.search-container {
padding-bottom: 5px;
}

::ng-deep .mat-mdc-select-panel {
  background: #324481fd  !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: #ffffff !important;

}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox-full {
  margin-right: 16px;
  flex-shrink: 0;
  border-radius: 5px;
  border-color: white;
}
.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-input-element {
  font-size: 16px;
  color: #333;
}

::ng-deep .mat-expansion-indicator.ng-tns-c2690051721-4 {
  display: none;
}



/* Style the expansion panel */
.mat-expansion-panel {
  margin-bottom: 16px;

  border-radius: 8px;
  overflow: hidden;
}

.mat-expansion-panel-header {
  background-color: #1f3371;
}

.mat-expansion-indicator {
  color: #333;
}

/* Style the filter mat-select options */
.mat-option {
  font-size: 14px;
}

/* Style the table header cells */
.mat-header-cell {
  font-weight: bold;
}

/* Style the table cells */
.mat-cell {
  font-size: 16px;
  color: #333;
}

/* Style the pagination section */
.mat-paginator {
  margin-top: 16px;
}

/* Style the package and single sections */
.package,
.single {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #3e0a76;
  border-radius: 4px;
}

.package h2,
.single h2,
.package h4,
.single h4 {
  margin-bottom: 8px;
}

/* Style the icons in the Action column */
.mat-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 8px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.mat-icon:hover {
  color: #FF4081;
}



#search {
	display: grid;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;

}

#searchInput {
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
	outline-offset: -8px;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color:#1239ae ;
	fill: none;
	stroke: currentColor;
}

.spark {
	fill: currentColor;
	stroke: none;
	r: 15;
}

.spark:nth-child(1) {
	animation:
		spark-radius 2.03s 1s both,
		spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
	0% { r: 0; animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57) }
	30% { r: 15; animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04) }
	95% { r: 8 }
	99% { r: 10 }
	99.99% { r: 7 }
	100% { r: 0 }
}

@keyframes spark-one-motion {
	0% { transform: translate(-20%, 50%); animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25) }
	20% { transform: rotate(-0deg) translate(0%, -50%); animation-timing-function: ease-in }
	80% { transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%); animation-timing-function: linear }
	100% { transform: rotate(-360deg) translate(30px, 100%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
}

.spark:nth-child(2) {
	animation:
		spark-radius 2.03s 1s both,
		spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
	0% { transform: translate(120%, 50%) rotate(-70deg) translateY(0%); animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55) }
	20% { transform: translate(90%, -80%) rotate(60deg) translateY(-80%); animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4) }
	40% { transform: translate(110%, -50%) rotate(-30deg) translateY(-120%); animation-timing-function: linear }
	70% { transform: translate(100%, -50%) rotate(120deg) translateY(-100%); animation-timing-function: linear }
	80% { transform: translate(95%, 50%) rotate(80deg) translateY(-150%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
	100% { transform: translate(100%, 50%) rotate(120deg) translateY(0%) }
}

.spark:nth-child(3) {
	animation:
		spark-radius 2.05s 1s both,
		spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
	0% { transform: translate(50%, 100%) rotate(-40deg) translateX(0%); animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54) }
	30% { transform: translate(40%, 70%) rotate(20deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46) }
	40% { transform: translate(65%, 20%) rotate(-50deg) translateX(15%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	60% { transform: translate(60%, -40%) rotate(-50deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	70% { transform: translate(70%, -0%) rotate(-180deg) translateX(20%); animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26) }
	100% { transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%); }
}




.burst {
	stroke-width: 3;
}

.burst :nth-child(2n) { color: #ff783e }
.burst :nth-child(3n) { color: #ffab00 }
.burst :nth-child(4n) { color: #55e214 }
.burst :nth-child(5n) { color: #82d9f5 }

.circle {
	r: 6;
}

.rect {
	width: 10px;
	height: 10px;
}

.triangle {
	d: path("M0,-6 L7,6 L-7,6 Z");
	stroke-linejoin: round;
}

.plus {
	d: path("M0,-5 L0,5 M-5,0L 5,0");
	stroke-linecap: round;
}




.burst:nth-child(4) {
	transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
	transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
	transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {
	0%, 100% { opacity: 0 }
	5%, 80% { opacity: 1 }
}

.burst :nth-child(1) { animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both; }
.burst :nth-child(2) { animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both; }
.burst :nth-child(3) { animation: particle-fade 600ms 2.95s both, particle-three-move 600ms 2.95s both; }
.burst :nth-child(4) { animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both; }
.burst :nth-child(5) { animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both; }
.burst :nth-child(6) { animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both; }

@keyframes particle-one-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-two-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-three-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-four-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-35deg) translateX(12%) } }
@keyframes particle-five-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(12%) } }
.mat-icon{
  color: white
}