<div  style="display: flex; flex-wrap: wrap; margin-top: 25px; margin-left: 20px; padding: 30px; align-self: center;">
  <H2>Logs</H2>
  <button


    type="button"

    style="width: 10%; margin-left: 2%"
    (click)="
      redirectToNewLog()
    "
  >
    Add Log
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Campaign">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
      <td mat-cell *matCellDef="let element;">{{ element.campaign }}</td>
    </ng-container>

    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
      <td mat-cell *matCellDef="let element">{{ getUsername(element.userID)}}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="Time_to_reply">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reply time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.time_to_reply }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
      <td mat-cell *matCellDef="let element">{{ element.type | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
      <td mat-cell *matCellDef="let element;  let i = index"> <mat-icon (click)="viewLog(i , element.type)"> remove_red_eye </mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
  <mat-paginator
    [length]="dataSource?.data.length"
    [pageSize]="5"
    [pageSizeOptions]="[3, 5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>

  <hr>
  <!-- view package logs -->
  <div class="package" *ngIf="package">
    <div class="row">
      <h2>Notes : {{log.notes}}</h2>
      <h2> Rate: {{log.currency}}  {{log.rate }} </h2>



    </div>
    <hr>
      <div *ngFor="let package of log.packages; " class="row">

        <h4>{{package.platform}}</h4>
         <h4>{{package.deliverable}}</h4>
         <h4>{{package.quantity}}</h4>

     </div>

    </div>

    <!-- view single logs -->
    <div class="single" *ngIf="single">
    <div  class="row">

      <h2>Notes : {{log.notes}}</h2>

    </div>
    <hr>
    <div *ngFor="let item of log.logItems" class="row">
      <h4>{{item.platform}}</h4>
      <h4>{{item.deliverable}}</h4>
      <h4>{{item.quantity}}</h4>
      <h4>{{item.currency}}</h4>
      <h4>{{item.rate}}</h4>

    </div>
    </div>


</div>



