<h2 style="align-items: center; font-size: 35px">Logs</h2>

<div id="search">
  <svg viewBox="0 0 420 60">
    <rect class="bar" />
  </svg>

  <mat-form-field>
    <input
      #searchInput
      matInput
      (keyup)="applyFilterChange('search', searchInput.value)"
      placeholder="Search"
    />
    <mat-icon matPrefix style="color: aliceblue">search</mat-icon>
  </mat-form-field>
  <!-- Add this button to your template -->
</div>
<div>
  <div class="search-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>filter_list</mat-icon> </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Add this button to your template -->

      <mat-form-field class="filter" style="width: 30%">
        <mat-label>Influencers Filter</mat-label>
        <mat-select
          #influencerSelect
          multiple
          placeholder="Influencers Filter"
          (selectionChange)="applyFilterChange('influencers', $event.value)"
        >
          <mat-option
            *ngFor="let influencer of allInfluencers"
            [value]="influencer"
          >
            {{ influencer }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter" style="width: 30%">
        <mat-label>Campaigns Filter</mat-label>
        <mat-select
          #campaignSelect
          multiple
          placeholder="Campaigns Filter"
          (selectionChange)="applyFilterChange('campaigns', $event.value)"
        >
          <mat-option *ngFor="let campaign of allCampaigns" [value]="campaign">
            {{ campaign }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter" style="width: 30%">
        <mat-label>Contacts Filter</mat-label>
        <mat-select
          #contactSelect
          multiple
          placeholder="Contacts Filter"
          (selectionChange)="applyFilterChange('contacts', $event.value)"
        >
          <mat-option *ngFor="let contact of allContacts" [value]="contact">
            {{ contact }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="logs-button">
        <button class="glow-on-hover" type="button" style="margin-left: 2%" (click)="resetFilters()">
          Reset Filters
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<div class="logs-button">
  <button class="glow-on-add-new"
    type="button"
 
    (click)="redirectToNewLog()"
  >
    Add New Log
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Influencer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Influencer</th>
      <td mat-cell *matCellDef="let element">
        {{ element.influencerID | influencerName | async }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Campaign">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
      <td mat-cell *matCellDef="let element">{{ element.campaign }}</td>
    </ng-container>

    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
      <td mat-cell *matCellDef="let element">
        {{ element.userID | userNamePipe | async }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="Time_to_reply">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reply time</th>
      <td mat-cell *matCellDef="let element" class="truncate-text">
        {{ element.time_to_reply }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>View</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="viewInfluencerLog(element.id, element.type)">
          remove_red_eye
        </mat-icon>
        <mat-icon
          *ngIf="userId === element.userID"
          (click)="editInfluencerLog(element.id, element.type)"
        >
          edit
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
    ></tr>
  </table>
  <mat-paginator
    [length]="dataSource?.data.length"
    [pageSize]="15"
    [pageSizeOptions]="[3, 5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>

  <hr />
<!--
  <div class="package" *ngIf="package">
    <div class="row">
      <h2>Notes : {{ log.notes }}</h2>
      <h2>Rate: {{ log.currency }} {{ log.rate }}</h2>
    </div>
    <hr />
    <div *ngFor="let package of log.packages" class="row">
      <h4>{{ package.platform }}</h4>
      <h4>{{ package.deliverable }}</h4>
      <h4>{{ package.quantity }}</h4>
    </div>
  </div>


  <div class="single" *ngIf="single">
    <div class="row">
      <h2>Notes : {{ log.notes }}</h2>
    </div>
    <hr />
    <div *ngFor="let item of log.logItems" class="row">
      <h4>{{ item.platform }}</h4>
      <h4>{{ item.deliverable }}</h4>
      <h4>{{ item.quantity }}</h4>
      <h4>{{ item.currency }}</h4>
      <h4>{{ item.rate }}</h4>
    </div>
  </div>
</div>
 -->
