/* Basic font and body styles */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Full viewport height */
  display: flex; /* Flex container for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Container styling */
.container {
  width: 100%; /* Full width of the viewport */
  max-width: 100%; /* Prevent exceeding the viewport width */
  overflow-y: hidden;
}

/* Mat-tab-group styling */
mat-tab-group {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);


}

mat-tab {
  background-color: #4789a1;
}

/* Table styling */
.my-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5% 0;
  background-color: transparent;

  .small {
    width: 10%;
  }
  .medium{
    width: 20%;
  }

  .large {
    width: 50%;
  }
}

.my-table th, .my-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  color: #fff;
}

.my-table th {
  background-color: #4789a1;
  color: #fff;
  font-weight: bold;
}

.my-table td.stretch-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Button styling */
button.icon-btn, button.icon-btn-up, button.icon-btn-del {
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.icon-btn {
  background-color: transparent;
  color: #4789a1;
}

.icon-btn-up {
  background-color: transparent;
  color: orange;
}

.icon-btn-del {
  background-color: transparent;
  color: red;
}

/* Loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white overlay */
}

/* Specific adjustments for responsiveness and alignment */
@media screen and (max-width: 768px) {
  .my-table, .container {
    width: 100%;
    overflow-x: auto;
  }
}

/* Additional modifications for better UX */
.table-container, .form-container, .search-container {
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}


.send-to-sales-btn
{
  background-color: #403D58; margin-bottom: 1%; color: white;
}
