/* Body style - font and font size */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* Generic container styling */
.container {
  max-width: auto;
  margin: 0 auto;
  overflow-y: hidden;
  max-height: auto;
}

/* Card styling */
.card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-header {
  background-color: #343a40;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.card-text {
  margin-bottom: 10px;
}

/* Table styling */
.my-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.my-table th, .my-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  color: #fff;
}

.my-table th {
  background-color: #4789a1;
  color: #fff;
  font-weight: bold;
}

.my-table td.stretch-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* Button styling */
button.icon-btn, button.icon-btn-up, button.icon-btn-del {
  text-align: center;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

.icon-btn {
  color: #fff; /* primary color */
}

.icon-btn-up {
  color: orange;
  margin-left: 3px;
}

.icon-btn-del {
  color: rgb(223, 42, 42);
  margin-left: 3px;
}

/* Loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white overlay */
}

/* Additional styles */
.table-container {
  overflow-y: hidden;
  max-height: auto;
  width: 100%;
  overflow-x: hidden;
}

.form-container, .search-container {
  max-height: auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

/* Specific width adjustments */
.down, .type {
  width: auto; /* adjusted from fixed percentages to auto for flexibility */
}
