<div class="form-container">
  <!-- *ngIf="user_id === task?.assigned_to" -->
  <div>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Progress</mat-label>
          <mat-select formControlName="Progress">
            <mat-option
              *ngFor="let num of ['Submitted', 'In Progress', 'Waiting for Feedback', 'Submitted & Rejected']"
              [value]="num"
              >{{ num }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          style="height: 2em; margin-bottom: 2%; width: 15em"
          mat-raised-button

          (click)="emitSubmit()">
          Update Progress
        </button>
      </div>
    </form>
    <h1
      *ngIf="brief?.data.Status == 'Active'"
      style="color: green; font-size: 2em; margin-top: 10%;"
    >
      Brief Status: {{ brief?.data.Status }}
      <button
        mat-raised-button
        style="height: 2em; margin-top: 5%; width: 17em; background-color: red; color: white;"

        (click)="deactivateBrief()"
      >
        Deactivate
      </button>
    </h1>
    <h1 *ngIf="brief?.data.Status != 'Active'" style="color: red">
      Brief Status: {{ brief?.data.Status }}
      <button
        mat-raised-button
        style="height: 2rem; margin-top: 18%; width: 17em; background-color: green; color: white;"

        (click)="activateBrief()"
      >
        Activate
      </button>
    </h1>
  </div>
</div>
