.form-container {
  padding: 2%;

  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

h1 {
  color: #ffffff;
}
.progress-title,
.progress-value {
  color: white;
  text-align: left;
}

.progress-value {
  color: rgb(35, 138, 175) !important;
}

.brief-status {
  margin-top: 2%;
  text-align: left;
  span {
    font-size: 2em;
    display: block;
    margin-bottom: 5%;
  }
}

.active {
  color: #B4DC7F;
  .deactivate-button {
    background-color: #D72638;
    color: white;
    height: 2em;
    width: 17em;
  }
}

.inactive {
  color: #D72638;
  .activate-button {
    background-color: #B4DC7F;
    color: white;
    height: 2rem;
    width: 17em;
  }
}
