<div class="form-container">
  <div>
    <h2 class="progress-title">Progress:</h2>
    <p class="progress-value">{{ task?.progress }}</p>

    <h2>Brief Status: </h2>
    <div *ngIf="brief?.data.Status == 'Active'" class="brief-status active">
      <p>{{ brief?.data.Status }}</p>
      <button  class="deactivate-button" (click)="deactivateBrief()">
        Deactivate
      </button>
      <button
      class="glow-on-add-new editbtn"
      *ngIf="talentHeads?.includes(user_id) || assigned"
      (click)="editAssignedExecs()"
    >
      Edit Task
    </button>
    </div>

    <div *ngIf="brief?.data.Status != 'Active'" class="brief-status inactive">
      <span>{{ brief?.data.Status }}</span>
      <button mat-raised-button class="activate-button" (click)="activateBrief()">
        Activate
      </button>
   
    </div>
  </div>
</div>
