  .form-container {
    padding: 20px;
    max-width: 55%;
    justify-content: center;

  }
  h1{
    color: white;
  }

  h2{
    color: rgb(35, 138, 175) !important;
    
  }


  .form-group {
    max-width: 50%;
  }
