<div class="form-container">
  <div>
    <h1 class="progress-title">Progress:</h1>
    <h2 class="progress-value">{{ task?.progress }}</h2>

    <h1>Brief Status: </h1>
    <div *ngIf="brief?.data.Status == 'Active'" class="brief-status active">
      <span>{{ brief?.data.Status }}</span>
      <button mat-raised-button class="deactivate-button" (click)="deactivateBrief()">
        Deactivate
      </button>
    </div>

    <div *ngIf="brief?.data.Status != 'Active'" class="brief-status inactive">
      <span>{{ brief?.data.Status }}</span>
      <button mat-raised-button class="activate-button" (click)="activateBrief()">
        Activate
      </button>
    </div>
  </div>
</div>
