.back-button {
    background-color: transparent;
    font-size: medium;
    color: white;
    border: 3px solid  rgba(71, 137, 161, 0.286);;
    padding: 4px 8px;
    border-radius: 10px !important;

}

.back-button:hover {
    background-color: #ffffff2a;
    transition: 300ms;
}


