.back-button {
    background-color: black;
    font-size: medium;
    color: white;
    border-bottom: 3px solid  #3f51b3;
    padding: 4px 8px;
    transition: 100ms;
}

.back-button:hover {
    background-color: #3f51b3;
    transition: 300ms;
}


