.back-button {
    background-color: transparent;
    font-size: medium;
    color: white;
    border: 1px solid  #4789A1;
    padding: 4px 8px;
    transition: 100ms;
}

.back-button:hover {
    background-color: #4789A1;
    transition: 300ms;
}


