<div class="loading-container" *ngIf="isLoading">
  <img src="../../../../../assets/gifs/loading.svg" alt="Loading..." />
</div>
<section class="clients-section" [hidden]="isLoading">
  <header>
    <h2>Clients</h2>
    <button type="button" class="glow-on-add-new btnaddnew" (click)="redirectToNewClient()">


      Add New Client
    </button>
  </header>

  <div class="filters">
    <mat-form-field class="filter">
      <mat-icon matPrefix style="color: aliceblue">search</mat-icon>
      <mat-label> Client Filter</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="autoClient"
        [(ngModel)]="selectedClientName"
        (input)="searchClients($any($event).target.value)"
        (focus)="searchClients($any($event).target.value)"
      />
      <mat-autocomplete
        #autoClient="matAutocomplete"
        (optionSelected)="onClientNameSelect($event)"
      >
        <mat-option value="">All Clients</mat-option>
        <mat-option *ngFor="let client of clientName" [value]="client">
          {{ client }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-icon matPrefix style="color: aliceblue">search</mat-icon>
      <mat-label>Industry Filter</mat-label>

      <input
        type="text"
        matInput
        [matAutocomplete]="autoIndustry"
        [(ngModel)]="selectedClientIndustry"
        (input)="searchIndustry($any($event).target.value)"
        (focus)="searchIndustry($any($event).target.value)"
      />
      <mat-autocomplete
        #autoIndustry="matAutocomplete"
        (optionSelected)="onClientIndustrySelect($event)"
      >
        <mat-option value="">All Industries</mat-option>
        <mat-option *ngFor="let industry of clientIndustry" [value]="industry">
          {{ industry }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="clients" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry</th>
        <td mat-cell *matCellDef="let element">{{ element.industry }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewClient(element.id)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" sticky></tr>
    </table>
  </div>

  <mat-paginator
    pageSize="10"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of clients"
  >
  </mat-paginator>
</section>
