.notification-container {
  padding: 20px;
  border-radius: 0px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

button {
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: 1px solid #4789A1;
  border-radius: 4px;
  margin-bottom: 1%;
  cursor: pointer;
  margin-right: 0;

  &:hover {
    background-color: #4789A1;
  }
}


.notification-box {
  background-color: transparent;
  margin-bottom: 20px; // Space around the entire notification box

  div {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; // Space between individual notifications
  }

  a {
    text-decoration: none;
    color: inherit; // Inherits the color from parent
    display: flex;
    align-items: center; // Vertically centers the flex children
    gap: 10px; // Adds a gap between flex items

    .maticon {
      flex-shrink: 0; // Prevents the icon from shrinking
      height: 25px;
      width: 25px;
      color: red;
    }

    p {
      margin: 0; // Resets margin
      flex-grow: 1; // Allows the paragraph to take up remaining space
      color: #FFF; // Text color for the message
    }

    small {
      margin-left: auto; // Pushes the timestamp to the right
      color: #666; // Text color for the timestamp
    }
  }
}

.mat-mdc-dialog-container {
  background-color: transparent !important;
}

