.notification-container {
  padding: 20px;

  display: flex;
  flex-direction: column;  /* Arrange items vertically */
  height: 100%; /* Fill entire height of parent container */


  .notification-box {
    background-color: transparent;
    margin-bottom: 20px; // Space around entire notification box
    flex-grow: 1; /* Allows notifications area to grow and fill space */
    overflow-y: auto; /* Enables vertical scrolling for notifications */
    max-height: 400px; /* Limits height of notifications area */

    div {
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 10px;
      -webkit-transition: ease-out 0.2s;
      -moz-transition: ease-out 0.2s;
      transition: ease-out 0.2s; // Space between individual notifications

      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 10px;

        .maticon {
          flex-shrink: 0;
          height: 2%;
          width: 5%;
          color: red;
          font-size: 20px;
        }

        p {
          margin: 0;
          flex-grow: 1;
          color: #FFF;
          font-size: 13px;
        }

        small {
          margin-left: auto;
          color: white;
        }


      }
      &:hover {
        background-color: #ffffff35;
      }
    }

  }

  .mark-btn {
    margin-top: auto; /* Pushes button to the bottom */
    align-self: flex-end; /* Aligns button to the right */

    button {
      padding: 10px 15px;
      background-color: #1f3371;
      color: white;
      border: 1px solid #1f3371;
      border-radius: 4px;
      cursor: pointer;
      -webkit-transition: ease-out 0.2s;
      -moz-transition: ease-out 0.2s;
      transition: ease-out 0.2s;

      &:hover {
        border: 1px solid white;
        box-shadow: inset 400px 0 0 0 #ffffff28;
      }
    }
  }

}

.notification-box {
  background-color: transparent;
  margin-bottom: 20px; // Space around entire notification box
  flex-grow: 1; /* Allows notifications area to grow and fill space */
  overflow-y: auto; /* Enables vertical scrolling for notifications */
  max-height: 400px; /* Limits height of notifications area */


  div {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; // Space between individual notifications

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 10px;

      .maticon {
        flex-shrink: 0;
        height: 2%;
        width: 5%;
        color: red;
        font-size: 20px;
      }

      p {
        margin: 0;
        flex-grow: 1;
        color: #FFF;
        font-size: 13px;


      }

      small {
        margin-left: auto;
        color: #666;
      }
    }
  }
}

.mark-btn {
  margin-top: auto; /* Pushes button to the bottom */
  align-self: flex-end; /* Aligns button to the right */

  button {
    padding: 10px 15px;
    background-color: #1f3371;
    color: white;
    border: 1px solid #1f3371;
    border-radius: 4px;
    cursor: pointer;

    &:hover {

      background-color: transparent;
    }
  }
}
