<!-- <img
  *ngIf="userId == 14"
  class="avatar mat-elevation-z8"
  src="../../assets/ahmadbashour.jpg"
/>
<img
  *ngIf="userId == 29"
  class="avatar mat-elevation-z8"
  src="../../assets/kerem.jpeg"
/>
<img
  *ngIf="userId == 15"
  class="avatar mat-elevation-z8"
  src="../../assets/rachelle.png"
/>
<img
  *ngIf="userId == 18"
  class="avatar mat-elevation-z8"
  src="../../assets/remy.png"
/> -->
<div class="account">
  <img src="../../../../../assets/white-buttons/account-pic.png">
  <h4>{{ userName }}</h4>
  <H5>{{ userRole | uppercase }} </H5>
  <p class="designation"></p>
</div>



<div>
  <button mat-button class="menu-button" routerLink="{{path['forms']}}">
    <mat-icon>home</mat-icon>
    <span>Forms</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button" routerLink="{{path['allBriefs']}}">
    <mat-icon>chrome_reader_mode</mat-icon>
    <span>All Briefs</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button" *ngIf="(userRole == 'talent' && privilegeLevel > 7) || userRole == 'superadmin'"
    routerLink="{{path['talentTasks']}}">
    <mat-icon>supervisor_account</mat-icon>
    <span> Talent Tasks </span>
  </button>
</div>

<button mat-button class="menu-button" *ngIf="userRole == 'talent'" routerLink="{{path['personTasks'] +  userId}}">
  <mat-icon>assignment</mat-icon>
  <span>Tasks</span>
</button>


<div>
  <button mat-button class="menu-button" *ngIf="userRole == 'superadmin'" routerLink="{{path['registerUser']}}">
    <mat-icon>assignment</mat-icon>
    <span>Register User</span>
  </button>

  <button mat-button class="menu-button" *ngIf="userRole == 'superadmin'" (click)="exportSeeds()">
    <mat-icon>import_export</mat-icon>
    <span>Export Seeds</span>
  </button>
</div>





<div>
  <button mat-button class="menu-button"  routerLink="{{path['editProfile']}}">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
</div>

<div>
  <button mat-button style="border-bottom: 1px solid #2c393f54;" class="menu-button" *ngIf="userRole == 'sales'" routerLink="{{path['salesGuide']}}">
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
</div>


<div>
  <button mat-button style="border-bottom: 1px solid #2c393f54;" class="menu-button" *ngIf="userRole == 'admin' || userRole == 'superadmin'"
    routerLink="{{path['salesGuide']}}">
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
</div>

<div>
  <button mat-button style="border-bottom: 1px solid #2c393f54;" class="menu-button" *ngIf="userRole == 'talent'" routerLink="{{path['talentGuide']}}">
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
</div>


<div>
  <button mat-button class="log-menu-button"  routerLink="/login">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</div>