<div class="form-container">
  <form
    [formGroup]="newTalentTimeForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <h2>Time Form: {{ name }}</h2>
    <div class="row">
      <mat-form-field>
        <mat-label> Date </mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Agency</mat-label>
        <mat-select formControlName="Agency" required>
          <mat-option *ngFor="let option of agencies" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Client</mat-label>
        <input
          matInput
          type="text"
          formControlName="Client"
          autocomplete="off"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Main Task Type</mat-label>
        <mat-select formControlName="MainTaskType" required>
          <mat-option *ngFor="let option of mainTaskType" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Extra Notes</mat-label>
        <input
          matInput
          type="text"
          formControlName="ExtraNotes"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time Spent In Hours</mat-label>
        <mat-select formControlName="TimeSpentInHours" required>
          <mat-option *ngFor="let option of timeSpent" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!newTalentTimeForm.valid"
    >
      Add Log
    </button>
  </form>
</div>
