<div style="position: relative">
  <div class="table-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="CampaignName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign Name</th>
        <td mat-cell *matCellDef="let element">{{ element.CampaignName }}</td>
      </ng-container>

      <ng-container matColumnDef="Agency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agency</th>
        <td mat-cell *matCellDef="let element">{{ element.Agency }}</td>
      </ng-container>

      <ng-container matColumnDef="Client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
        <td mat-cell *matCellDef="let element">{{ element.Client }}</td>
      </ng-container>

      <ng-container matColumnDef="TaskDeadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Deadline</th>
        <td mat-cell *matCellDef="let element">
          {{ element.task?.deadline | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="CampaignObjective">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          CampaignObjective
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.CampaignObjective }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Status !== "InActive" ? element.Priority : "" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Sales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales</th>
        <td mat-cell *matCellDef="let element">
          {{ element.CreatedbyID | userNamePipe }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Talent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Talent</th>
        <td mat-cell *matCellDef="let element">
          {{ getUsername(element.task?.assigned_to) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Weight">
        <!-- ONLY HEADTALENT SEES THIS -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let element">
          {{ element.task?.weight }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="element.Status === 'InActive'"
            mat-raised-button
            color="warn"
            (click)="viewedTask(element.id)"
          >
            View
          </button>

          <button
            *ngIf="element.task?.assigned_to === null"
            mat-raised-button
            class="btn-green"
          >
            View
          </button>

          <button
            *ngIf="
              element.task?.assigned_to !== null && element.Status === 'Active'
            "
            mat-raised-button
            color="primary"
            (click)="viewedTask(element.id)"
          >
            View
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <ng-container *ngIf="userRole == 'sales'">
        <tr
          mat-row
          cdkDrag
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </ng-container>
      <ng-container *ngIf="userRole == 'talent' && privilegeLevel > 7">
        <tr
          mat-row
          cdkDrag
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </ng-container>
      <ng-container *ngIf="userRole == 'talent' && privilegeLevel < 7">
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </ng-container>
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[3, 5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <!-- <p style="color: white; text-align: right; padding-right: 1%;">Color Code Legend: Blue ( Not Viewed ), Green ( Viewed ), Red ( InActive )</p> -->
</div>

  <div class="legend-section">

      <mat-table [dataSource]="colorLegend" class="legend-table">
        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-chip
              [ngStyle]="{ 'background-color': element.color }"
              class="color-chip"
            ></mat-chip>
          </td>
        </ng-container>

        <!-- Meaning Column -->
        <ng-container matColumnDef="meaning">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.meaning }}</td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </mat-table>

  </div>
