table {
  width: 100%;

  .truncate-text {
    white-space: nowrap;      /* Prevent text from wrapping */
    overflow: hidden;         /* Hide overflowing content */
    text-overflow: ellipsis;  /* Display ellipsis (...) for overflow */
    max-width: 150px;         /* Adjust the maximum width as needed */
  }

}
.warn {
  background-color: red;
  color: white;
}
.table-container {
  padding-top: 1%;
  overflow-y: scroll;
  max-height: auto;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}


.btn-green{
  background-color: green;
  color : white;
}


.legend-section {
  margin-top: 1%;
  padding-bottom: 1%;
  width: 35%; // Width of the legend. Adjust as needed.
  display: flex;

  .legend-table {
    display: flex;

    td{
      padding-top: 5%;
    }

    .color-chip {
      height: 20px;
      width: 20px;

    }
  }
}
