<div #carouselContainer class="carousel-container">
    <!-- The inner container with flex display to hold all buttons -->
    <div class="carousel-wrapper">
    <div class="box">
      <div
        class="btn d-flex flex-row align-items-center flex-wrap"
        style="border-color: transparent"
      >
        <button mat-raised-button routerLink="{{ path['viewShows'] }}" *ngIf="userRole =='superadmin'">
          <img src="../../../../../assets/white-buttons/tv.png"/>
          <p>Shows</p>
        </button>

        <button mat-raised-button routerLink="{{ path['bookings'] }}" *ngIf="userRole =='superadmin'">
          <img src="../../../../../assets/white-buttons/bookings.png"/>
          <p>Bookings</p>
        </button>

        <button mat-raised-button routerLink="{{ path['addBooking'] }}" *ngIf="userRole =='superadmin'">
          <img src="../../../../../assets/white-buttons/new-bookings.png"/>
          <p>Add New Booking</p>
        </button>

      </div>
    </div>
  </div>
  </div>
