<div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    "
  >
    <div></div>

    <div class="gap">
      <button
        mat-raised-button
        routerLink="/home/originals/newShow"
        *ngIf="userRole == 'originals'"
        class="custom-button"
      >
        Add New Show
      </button>
      <button
        mat-raised-button
        (click)="toggleEditColumn()"
        *ngIf="userRole == 'originals'"
        class="custom-button"
      >
        Edit Show
      </button>
    </div>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
        <td mat-cell *matCellDef="let element">
          {{ element.color }}
        </td>
      </ng-container>
      <ng-container matColumnDef="colorCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Color Code</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngStyle]="{ 'background-color': element.colorCode }"
        >
          {{ element.colorCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container *ngIf="showEditColumn">Edit</ng-container>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.width]="showEditColumn ? '2%' : '0'"
        >
          <button class="icon-btn" (click)="editShows(element.id)">
            <mat-icon *ngIf="showEditColumn">create</mat-icon>
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" sticky></tr>
    </table>

    <mat-paginator
      pageSize="25"
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
