<div style="padding-bottom: 2%; padding-left: 1%; padding-top: 1%;">
  <button mat-raised-button  color="primary"  (click)="backButton()">
    <mat-icon>arrow_back</mat-icon>
    BACK
  </button>
</div>

<div class="form-container">
<form [formGroup]="influencerForm" (ngSubmit)="onSubmit()">
  <table class="table
  ">
    <thead>
    <tr>
      <th>Field</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Response Rate</td>
      <td>
        <span class="star-rating">
          <app-star-rating (onClick)="handleClickResponseRate($event)"></app-star-rating>
        </span>
      </td>
    </tr>
    <tr>
      <td>Content Quality</td>
      <td>
        <span class="star-rating">
          <app-star-rating (onClick)="handleClickContentQuality($event)"></app-star-rating>
        </span>
      </td>
    </tr>
    <tr>
      <td>Creativity</td>
      <td>
        <span class="star-rating">
          <app-star-rating (onClick)="handleClickCreativity($event)"></app-star-rating>
        </span>
      </td>
    </tr>
    <tr>
      <td>Flexibility</td>
      <td>
        <span class="star-rating">
          <app-star-rating (onClick)="handleClickFlexibility($event)" ></app-star-rating>
        </span>
      </td>
    </tr>
    <tr>
      <td>Campaign Performance</td>
      <td>
        <span class="star-rating">
          <app-star-rating (onClick)="handleClickCampaignPerformance($event)"></app-star-rating>
        </span>
      </td>
    </tr>
    <tr>
      <td>Notes</td>
      <td>
        <mat-form-field>
          <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
          <mat-hint align="end">{{influencerForm.get('notes')?.value?.length || 0}}/500</mat-hint>
        </mat-form-field>
      </td>
    </tr>
    <button mat-raised-button type="submit" [disabled]="influencerForm.invalid">Submit</button>
  </tbody>


</table>
</form>
</div>
