<div style="position: relative">
  <div class="row">
    <div class="status">
      <app-person-info style="align-self: center;" [assignedUser]="assignedUser" [salesperson]="salesperson" [task]="task"></app-person-info>
      <div class="card" *ngIf="assignedUser_id.includes(user_id) || privilege_level > 7">
        <div>
          <form [formGroup]="progressForm" (ngSubmit)="submitForm()" autocomplete="off">
            <app-update-activate (submitEvent)="submitForm()" [brief]="brief" [brief_id]="brief_id"></app-update-activate>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="privilege_level > 7 && !assigned">
      <app-assign-task
      [dataSource]="dataSource"
      [brief]="brief"
      [brief_id]="brief_id"
      ></app-assign-task>
    </div>

    <app-all-info [brief]="brief"></app-all-info>

    <app-sheets-brief
    (childEvent)="reloadParent($event)"
    *ngIf="assigned"
    [userId]="user_id"
    [brief]="brief"
    [brief_id]="brief_id"
    [presentation]="presentation"
    [budgetSheet]="budgetSheet"
    [budgetSheetId]="budgetSheetId"
    [presentationId]="presentationId"
    [pdfId]="pdfId"
    [pdf]="pdf"
    [task]="task"
    [id]="id"
    [assignedUser_id]="assignedUser_id">
    </app-sheets-brief>


  </div>
</div>
