body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1%;
  max-width: 100%;

  /* Status div styles */
  .status,
  .card {
    flex: 1;
    display: flex; /* Added to make 'status' a flex container */
    flex-direction: column; /* Arranges children vertically */
    justify-content: space-between; /* Distributes space between children */
    padding: 10px;
    background: linear-gradient(0deg, rgba(176, 186, 225, 0.2) 0%, rgba(176, 186, 225, 0.15) 20%, rgba(176, 186, 225, 0.1) 70%, rgba(176, 186, 225, 0.02) 100%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 1%;
    border: 2px solid rgba(164, 164, 164, 0.1764705882);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    
  }

  /* Card styles */
  .card {
    flex: 1; /* Takes up 2   portions of the available space */

    /* Button styles inside .card */
    button {
      margin-left: 2%;
      text-align: left;
      width: 17em;
      background-color: #403D58;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #3f3d58; /* Darker shade on hover */
      }
    }
  }
}

/* Styles for the app components */
app-person-info,
app-update-activate,
app-assign-task,
app-all-info,
app-sheets-brief,
app-round-history {
  /* Shared styles for app components */
  margin-bottom: 2%;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 5% 1%;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;

    th {
      background-color: #f2f2f2;
      color: #444;
      font-weight: bold;
    }
  }
}

/* Additional utility classes */
.no-border {
  border: none;
  background-color: #fff;
}

.search-container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 2% 1%;
}

.stretch-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  color: #fff; /* Changed for better visibility */
  margin-top: 2%;
}
