<div style="position: relative">
  <div class="row">
    <div class="status">
      <app-person-info
        [assignedUser]="assignedUser"
        [salesperson]="salesperson"
        [task]="task"
        [signedOffByClient]="signedOffByClient"
        [brief]="brief"
      ></app-person-info>
    </div>
    <div
      class="card"
      *ngIf="
        assignedUser_id.includes(user_id) ||
        privilege_level > 7 ||
        talentHeads?.includes(user_id)
      ">
      <form
        [formGroup]="progressForm"
        (ngSubmit)="submitForm()"
        autocomplete="off"
      >
        <app-update-activate
          (submitEvent)="submitForm()"
          [task]="task"
          [brief]="brief"
          [brief_id]="brief_id"
        ></app-update-activate>
      </form>
      <button
        mat-raised-button
        *ngIf="talentHeads?.includes(user_id) || assigned"
        (click)="editAssignedExecs()"
      >
        Edit Task
      </button>
    </div>

    <div *ngIf="talentHeads?.includes(user_id) && !assigned">
      <app-assign-task [brief]="brief" [brief_id]="brief_id"></app-assign-task>
    </div>

    <app-all-info [brief]="allinfoBrief"></app-all-info>

    <app-sheets-brief
      (childEvent)="reloadParent($event)"
      *ngIf="assigned"
      [userId]="user_id"
      [brief]="brief"
      [brief_id]="brief_id"
      [presentation]="presentation"
      [budgetSheet]="budgetSheet"
      [budgetSheetId]="budgetSheetId"
      [presentationId]="presentationId"
      [pdfId]="pdfId"
      [pdf]="pdf"
      [task]="task"
      [id]="id"
      [assignedUser_id]="assignedUser_id"
    >
    </app-sheets-brief>
    <div *ngIf="assigned">
      <h1>Rounds History</h1>
      <app-round-history [task]="task" [reload]="reload"></app-round-history>
    </div>
  </div>
</div>
