<div class="form-container">
  <form
   [formGroup]="newCampaignForm"
   >
    <h2>Edit Campaign</h2>
    <div class="row">
      <mat-form-field>
        <mat-label> Name </mat-label>
        <input matInput type="text" formControlName="campaignName" autocomplete="off" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Market </mat-label>
        <input
          matInput
          type="text"
          formControlName="market"
          autocomplete="off"
        />
      </mat-form-field>

      
      <button
      mat-raised-button

      class="influ-button"
      (click)="addInfluencers()"
    >
      Campaign Influencers
    </button>

    </div>


    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!newCampaignForm.valid"
      (click)="editCampaign()"
    >
      Edit Campaign
    </button>
  </form>
</div>

