.remarks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

  .new-remark-btn {
    width: 90%;
    background: linear-gradient(0deg, rgba(176, 186, 225, 0.2) 0%, rgba(176, 186, 225, 0.15) 20%, rgba(176, 186, 225, 0.1) 70%, rgba(176, 186, 225, 0.02) 100%);
    color: #ffffff;
    padding: 10px 0;
    border:none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border 0.3s; 

    &:hover {
      transform: translateY(-5px);
      border: 2px solid #8e8e8f84;
      box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
 
    }
  }

  .remark-card {
    background: linear-gradient(0deg, rgba(176, 186, 225, 0.2) 0%, rgba(176, 186, 225, 0.15) 20%, rgba(176, 186, 225, 0.1) 70%, rgba(176, 186, 225, 0.02) 100%);
    border:none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vh;
    min-height: 14vh;
    padding: 15px;
    padding-bottom: 7%;
    transition: transform 0.2s, box-shadow 0.3s, border 0.3s;
    position: relative;

    
    &:hover {
      transform: translateY(-5px);
      border: 2px solid #8e8e8f84;
      box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
    }
  }

  .remark-content {
    .remark-note {
      color: #ffffff;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .remark-user {
    display: flex;
    flex-direction: column; // Changed to column to stack .remark-updated and .bottom-line
    justify-content: space-between;
    align-items: flex-start; // Align items to the start to match the column layout
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;

    .remark-updated {
      color: #b0c4de;
      font-size: 14px;
      margin-bottom: 10px; // Ensure there's space between this and the next element
    }

    .bottom-line {
      display: flex;
      justify-content: space-between; // Aligns items horizontally in this row
      width: 100%; // Ensures it spans the full available width

      .user-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
      }

      .icon-btn {
        background: none;
        border: none;
        cursor: pointer;

        &:hover mat-icon {
          color: #fff;
        }
      }

      mat-icon {
        color: #fff;
        cursor: pointer;
        font-size: 24px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
