/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.back_button {
    padding-bottom: 2%;
    padding-left: 1%;
    padding-top: 1%
  }

  // Notifications center background color
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #232C30!important;
    border-radius: 0px!important;
  }

  .mat-mdc-tab .mdc-tab__text-label {
    color: white!important;

  }
  // .mdc-tab .mat-mdc-tab .mat-mdc-focus-indicator .mdc-tab--active .ng-star-inserted .mdc-tab-indicator--active {
  //   background-color: rgb(28, 28, 28);
  // }



.filter {
  width: 20%;
  height: 10%;
}

.mat-mdc-paginator-container {
  background-color: #1f3371 !important;
  color: white;
  justify-content: center!important;
}
  

.mat-mdc-select {
  color: white!important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.mat-mdc-raised-button {
  margin-top: 1%;
  border-radius: 0px!important;

}

.mat-expansion-indicator::after {
  color: white!important;
}

.form-container {
  max-height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-mdc-text-field-wrapper{
  border-radius: 0px!important;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
  color: white;

}

.mat-mdc-row:hover .mat-mdc-cell {
 background-color: #36464d;
}

.mdc-data-table__header-row {
  background-color: #1f3371!important;
  border-radius: 10px 10px 0px 0px;
}


.mat-mdc-header-cell  {
  font-size: 16px!important;
  border-bottom: thin solid white!important;
  color: white!important;
}



.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #1f3371;
  border-radius: 10px !important
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  background-color: white;
}

.mat-mdc-select-placeholder {
  color: white!important;
}

.mat-mdc-select-arrow {
  color: white!important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom: 1px solid #1f3371;
}


.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.756);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}


.icon-btn {
  background-color: transparent;
  border: 0px;
  padding: 4px 6px;
  color: white;
}

.icon-btn:hover {
  color: #1f3371;
}




h2 {
  color: white !important;
}

h3 {
  color: white;
}

hr {
  color: #1f3371;
}

.mat-mdc-table {
  background-color: #2C393F!important;
}

::-webkit-scrollbar-track {
  background-color: transparent!important;
}

/* customize the scroll bar thumb */
::-webkit-scrollbar-thumb {
  background-color: #1f3371!important;
  border-radius: 5px;
}

/* customize the scroll bar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* customize the scroll bar width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFFC1!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFFC1!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFFC1!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFFC1!important;
}
