<div class="guide-container">



  <h1>Sales Section User Guide</h1>
  <p>This guide will help you understand and navigate the Sales section of our web application, designed specifically for our sales employees. The Sales section comprises three main features:</p>

  <mat-tab-group>
    <mat-tab label="Sales Brief">
      <mat-list>
        <mat-list-item>
          <span  style="font-weight: bold;">This feature allows you to initiate a new campaign by filling out a sales brief form. Here's how you can use it:</span>
        </mat-list-item>
        <mat-list-item>1-<a href="home/sales/newSalesBrief">Create a new sales brief:</a> Start by filling out the sales brief form. Be sure to include all necessary details about the campaign. Once complete, this form will be sent to the head of talent.</mat-list-item>
        <mat-list-item>2-Assignment and Budgeting: The head of talent will assign your brief to a talent executive who will evaluate your requirements, prepare a budget sheet and create a presentation outlining the influencers needed for the campaign.</mat-list-item>
        <mat-list-item>3-Approval: The budget sheet and presentation will be reviewed by the head of talent. Upon approval, the talent executive will be able to send the approved files back to you.</mat-list-item>
        <mat-list-item>4-Receiving Completed Brief: Once the brief is completed and approved, you will receive the files for further use in your sales process.</mat-list-item>
      </mat-list>
    </mat-tab>


    <mat-tab label="Ready Briefs">
      <mat-list>
        <mat-list-item>
          <span  style="font-weight: bold;">This feature provides you with access to all completed briefs. Here's how you can use it:</span>
        </mat-list-item>
        <mat-list-item>1- <a href="home/sales/readyBriefs">Access Completed Briefs: </a> Navigate to the 'Ready Briefs' section. Here you will find all the briefs that have been completed and sent back by the talent team.</mat-list-item>
        <mat-list-item>2-Select a Brief: Choose the brief that aligns with your sales needs. Click on it to access the files sent by the talent team.</mat-list-item>
      </mat-list>
    </mat-tab>

    <mat-tab label="Sent Briefs">
      <mat-list>
        <mat-list-item>
          <span  style="font-weight: bold;">This feature allows you to monitor the status of briefs that you've sent and are still pending completion by the talent team. Here's how you can use it:</span>
        </mat-list-item>
        <mat-list-item>1-Access Sent Briefs: Navigate to the <a href="home/sales/sentBriefs">'Sent Briefs'</a> section. Here you will find all the briefs you have sent that are yet to be completed by the talent team.</mat-list-item>
        <mat-list-item>2-Monitor Progress: You can see which talent executive has been assigned to your brief (if one has been assigned), and the deadline set by the talent head for the brief to be finalized.</mat-list-item>
        <mat-list-item>3-Edit a Brief: If there are any changes necessary to a brief you've sent, you can edit it directly from this section. Make the necessary changes and save the brief for it to be updated.</mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <h2> Reminder </h2>
  <p>Remember, this is just a guide. Your actual usage may vary depending on your specific needs and the exact functionalities of the application. Always refer back to this documentation if you're unsure about how to proceed.</p>
</div>
