<div style="padding-bottom: 2%; padding-left: 1%; padding-top: 2%;">
  <button mat-raised-button  color="primary"  (click)="navigateToForms()">
    <mat-icon>arrow_back</mat-icon>
    BACK
  </button>
  </div>

  <div class="form-container">
    <h1 style="align-content: center; margin-left: 34%; font-size: 300%; margin-top: 2%; margin-bottom: 3%;">New Sales Brief</h1>
    <form [formGroup]="newSalesBriefForm" (ngSubmit)="createSalesBrief()" autocomplete="off">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Agency </mat-label>
          <input matInput type="text" formControlName="Agency" autocomplete="off"  />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Client </mat-label>
          <input matInput type="text" formControlName="Client" autocomplete="off"  />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Client's Industry</mat-label>
          <mat-select formControlName="ClientIndustry">
            <mat-option *ngFor="let option of clientIndustries" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Name</mat-label>
          <input matInput type="text" formControlName="CampaignName" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Overview</mat-label>
          <textarea matInput formControlName="CampaignOverview" rows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Objective</mat-label>
          <mat-select formControlName="CampaignObjective">
            <mat-option *ngFor="let option of campaignobjectives" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Objective Details</mat-label>
          <textarea matInput formControlName="CampaignObjectiveDetails" rows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Number of recommendations</mat-label>
          <input matInput type="number" formControlName="NumberofRecommendations" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Currency</mat-label>
          <mat-select formControlName="Currency" >
            <mat-option *ngFor="let option of currencies" [value]="option" >{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Approximate Budget </mat-label>
          <input matInput type="number" formControlName="Budget" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Campaign Launch Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="CampaignStartDate" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign End Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="CampaignEndDate" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Campaign Message Phase 1</mat-label>
          <textarea matInput formControlName="CampaignMessagePhaseOne" rows="1" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Message Phase 2</mat-label>
          <textarea matInput formControlName="CampaignMessagePhaseTwo" rows="1" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Message Phase 3</mat-label>
          <textarea matInput formControlName="CampaignMessagePhaseThree" rows="1" autocomplete="off"></textarea>
        </mat-form-field>

      </div>

      <div class="row">
        <h2> Content Deliverables </h2>
          <mat-form-field appearance="outline">
            <mat-label> Platforms </mat-label>
            <mat-select formControlName="ContentDeliverables" multiple>
              <mat-option *ngFor="let option of briefPlatforms" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Brand Exclusivity Duration in Days</mat-label>
            <input matInput type="number" formControlName="BrandExclusivityDurationinDays" autocomplete="off" />
          </mat-form-field>
        </div>
      <div>
        <h2> Video  </h2>
        <div class="checkbox-container">
        <mat-checkbox formControlName="VideoProduction">Production</mat-checkbox>

        <mat-checkbox formControlName="VideoEditing">Editing</mat-checkbox>
      </div>
      </div>
      <hr>
      <div class="row">
        <h2> Influencer Age Range </h2>
        <div formGroupName="InfluencerAgeRange" class="checkbox-container">

          <mat-checkbox formControlName="AgeGroup1"> 12 - 17</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup2"> 18 - 24</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup3"> 25 - 34</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup4"> 35 - 49</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup5"> 50 + </mat-checkbox>

        </div>
      </div>
      <hr>
      <div class="row">
        <h2> Influencer Location, Nationality, Gender, and Interests</h2>
        <mat-form-field appearance="outline">
          <mat-label>Influencer Location</mat-label>
          <mat-select formControlName="InfluencerLocation" multiple>
            <mat-option *ngFor="let option of countries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Influencer Nationality</mat-label>
          <mat-select formControlName="InfluencerNationality" multiple>
            <mat-option *ngFor="let option of countries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Influencer Interests</mat-label>
          <mat-select formControlName="InfluencerInterest" multiple>
            <mat-option *ngFor="let option of clientIndustries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Influencer Gender</mat-label>
          <mat-select formControlName="InfluencerGender">
            <mat-option  value="Male"> Male</mat-option>
            <mat-option  value="Female"> Female</mat-option>
            <mat-option  value="Both"> Both</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Similar Profile Handle (Link) </mat-label>
          <input matInput type="text" formControlName="SimilarProfileLink" autocomplete="off"  />
        </mat-form-field>

      </div>

      <hr>


      <div class="row">
        <h2> Number of Followers</h2>
        <div formGroupName="InfluencerNumberOfFollowers" class="checkbox-container" style="flex: 0.5">
          <div class="hoverable-text" (mouseover)="showInfo1=true" (mouseout)="showInfo1=false">
          <mat-checkbox formControlName="Nano"> Nano</mat-checkbox>
          <div *ngIf="showInfo1" class="info-box">
            Less than 10,000 followers
          </div>
        </div>
        <div class="hoverable-text" (mouseover)="showInfo2=true" (mouseout)="showInfo2=false">
          <mat-checkbox formControlName="Micro"> Micro</mat-checkbox>
          <div *ngIf="showInfo2" class="info-box">
            Between 10,000 and 100,000 followers
          </div>
        </div>
        <div class="hoverable-text" (mouseover)="showInfo3=true" (mouseout)="showInfo3=false">
          <mat-checkbox formControlName="Macro"> Macro </mat-checkbox>
          <div *ngIf="showInfo3" class="info-box">
            Between 100,000 and 1,000,000 followers
          </div>
        </div>
        <div class="hoverable-text" (mouseover)="showInfo4=true" (mouseout)="showInfo4=false">
          <mat-checkbox formControlName="Mega"> Mega </mat-checkbox>
          <div *ngIf="showInfo4" class="info-box">
            More than 1,000,000 followers
          </div>
        </div>
          <mat-checkbox formControlName="Celebrity"> Celebrity</mat-checkbox>
        </div>
        <div style="flex: 1;">
        <mat-form-field appearance="outline" style="width: 50rem">
          <mat-label>Note for number of followers </mat-label>
          <input matInput type="text" formControlName="NoteForNumberOfFollowers" autocomplete="off"  />
        </mat-form-field>
      </div>
      </div>
      <hr>

      <div class="row">
        <h2> Audience Age Range </h2>
        <div formGroupName="AudienceAgeRange" class="checkbox-container">

          <mat-checkbox formControlName="AgeGroup1"> 12 - 17</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup2"> 18 - 24</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup3"> 25 - 34</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup4"> 35 - 49</mat-checkbox>
          <mat-checkbox formControlName="AgeGroup5"> 50 + </mat-checkbox>

        </div>
      </div>
      <hr>

      <div class="row">
        <h2> Audience Location, Nationality and Gender </h2>
        <mat-form-field appearance="outline">
          <mat-label>Audience Location</mat-label>
          <mat-select formControlName="AudienceLocation" multiple>
            <mat-option *ngFor="let option of countries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Audience Nationality</mat-label>
          <mat-select formControlName="AudienceNationality" multiple>
            <mat-option *ngFor="let option of countries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Audience Gender</mat-label>
          <mat-select formControlName="AudienceGender">
            <mat-option  value="Male"> Male</mat-option>
            <mat-option  value="Female"> Female</mat-option>
            <mat-option  value="Both"> Both</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <hr>
      <div class="row">
        <h2> Audience Primary and Seconadry Interest </h2>
        <mat-form-field appearance="outline">
          <mat-label>Primary Audience Interest</mat-label>
          <mat-select formControlName="PrimaryAudienceInterest" multiple>
            <mat-option *ngFor="let option of clientIndustries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secondary Audience Interest</mat-label>
          <mat-select formControlName="SecondaryAudienceInterest" multiple>
            <mat-option *ngFor="let option of clientIndustries" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <hr>

      <div class="row">
        <h2> Confirmed and Previous Influencers </h2>
        <mat-form-field appearance="outline" style="width: 50rem">
          <mat-label>Confirmed Influencers Handles </mat-label>
          <input matInput type="text" formControlName="ConfirmedInfluencerHandles" autocomplete="off"  />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 50rem">
          <mat-label>Previous Influncer Partners </mat-label>
          <input matInput type="text" formControlName="PreviousBrandAmbassadorsName" autocomplete="off"  />
        </mat-form-field>
      </div>
      <hr>
      <div class="row">
        <mat-form-field appearance="outline" style="width: 50rem">
          <mat-label>ITP Department</mat-label>
          <mat-select formControlName="ItpDepartment"  required="true">
            <mat-option  value="Male"> UAE </mat-option>
            <mat-option  value="Female"> KSA </mat-option>
            <mat-option  value="Both"> Originals</mat-option>
            <mat-option  value="Both"> Gaming </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 50rem">
          <mat-label>KPIs </mat-label>
          <input matInput type="text" formControlName="KPIs" autocomplete="off"  />
        </mat-form-field>
        
      </div>
      <div class="row">
        <div class="checkbox-container">
          <div class="checkbox-container">
            <mat-checkbox formControlName="Strategy">Strategy required</mat-checkbox>

            <mat-checkbox formControlName="Concept">Concept required</mat-checkbox>

            <mat-checkbox formControlName="Event">Event required</mat-checkbox>

            <mat-checkbox formControlName="Performance">Performance Marketing required</mat-checkbox>
          </div>



        </div>
      </div>


      <button mat-raised-button color="primary" type="submit" [disabled]="!newSalesBriefForm.valid" style="margin-bottom: 2%; margin-top: 2%;">
        Submit Brief Form
      </button>


    </form>
  </div>
