*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: Neue;
}


::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* customize the scroll bar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* customize the scroll bar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* customize the scroll bar width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


@font-face {
  font-family: Neue;
  src: url("./assetsEA/fonts/Neue-Plak-Light.ttf");

}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}

.navbar {
  background-color: black;
  width: 97%;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  font-family: Neue;
  align-items: center;
  gap: 60px;
  border-radius: 5px;
  margin: 15px;
  transition: 0.4s;
  position: fixed;
  z-index: 1000;
}

.navbar li {
  padding: 10px;
  font-size: 18px;
  transition: 0.2s ease-in;
  list-style-type: none;
}

.navbar ul {
  margin: 0;
  display: flex;
  margin-right: auto;
}

.navbar li:hover {
  color: #07F468;
  cursor: pointer;
}

ul a {
  text-decoration: none;
  color: white;
  transition: ease-out 0.3s;
}

ul a:hover {
  text-decoration: none;
  color: #07F468 !important;
  transition: 0.3s;

}

.navbar img {
  width: 80px;
  height: 40px;
  margin-left: 40px;
  transition: 0.2s ease-in;
}

.btn {
  background-color: #07F468;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  border-radius: 35px;
  color: black;
  font-family: Neue;
  font-size: 18px;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.navbar .sticky {
  width: 100%;
  padding: 6px;
  margin: 0;
  background-color: black;
  border-radius: 0px;
}

.sticky {
  width: 100%;
  padding: 6px;
  margin: 0;
  background-color: black;
  border-radius: 0px;
}

.navbar .sticky li {
  margin-right: auto;
  font-size: 18px;
  transition: 0.4s;

}

.navbar .sticky img {
  width: 60px;
  height: 30px;
  margin-left: 30px;
  transition: 0.4s;
}


.navbar .sticky .btn {
  font-size: 15px;
  transition: 0.4s;
  transition: 0.4s ease-in;
}


.video-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.video-background h1,
.video-background p,
.video-background a {
  position: absolute;
  z-index: 1;
}

.video-background h1 {
  top: 40%; /* adjust these percentages as per your requirements */
  color: #fff; /* adjust color as per your requirements */
  font-size: 60px;
  font-family: Neue;
  margin-top: 2%;
  margin-bottom: 2%;
}

.video-background p {
  top: 50%; /* adjust these percentages as per your requirements */
  color: #fff; /* adjust color as per your requirements */
  font-size: 30px;
  font-family: Neue;
  margin-top: 2%;
  margin-bottom: 2%;
}

.video-background a.btn {
  top: 60%; /* adjust these percentages as per your requirements */
  color: #000; /* adjust color as per your requirements */
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
}


.content {
  padding: 150px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: Neue;

}

.video-background .overlay .splash{
  position: absolute;
  z-index: 1;


}

.video-background .overlay .splash {
  top: 20%;
  right: 41%;
  padding-bottom: 5%;
  background-image: url("./assetsEA/ea-assets/logo-test.png");
  width: 300px;
  min-height: 251px;
  transform: scale(1.2);
  margin-bottom: 3%;

}

.content h1 {
  font-size: 60px;
  font-family: Neue;
}

.content p {
  font-size: 18px;
  font-family: Neue;
}



.animate {
  animation: spriteAnimation both;
  animation-duration: var(--sprite-duration);
  animation-iteration-count: var(--sprite-iteration-count);
  animation-timing-function: steps(var(--sprite-frames));
  --sprite-frames: 47;
  --sprite-duration: 2400ms;
  --sprite-iteration-count: 1;
}

.socail {
  background-image: url("./assetsEA/ea-assets/Myproject2.jpg");
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.socail-name  {
  font-size: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Neue;


}

.socail-name h1 {
  font-size: 100px;
  font-family: Neue;
}



.socail img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.twitter {
  width: 60%;
  max-height: 50%;
  height: auto;
  background-image: url("./assetsEA/ea-assets/Myproject8.jpg");
  background-color: #243447;
  text-align: center;
  align-content: center;

}

.tweets {
  width : 550px;
  background-color: #141d26;
  padding-left: 7%;
}

.twitter a {
  padding-top: 25%;
  padding-bottom: 25%;
  width: 50%;
  color: #07F468;
  text-decoration: none;


  font-size: 250px;
  text-align: center;
}

#twitter {
  display: flex;
  background-color: #141d26;
}

#twitter img {
  width: 50%;
  max-height: 50%;
}

.youtoo {
  display: flex;
  font-family: Neue;


}

.youtube {
  background-image: url("./assetsEA/ea-assets/Myproject8.jpg");
  width: 60%;
  text-decoration: none;
  font-size: 250px;
  text-align: center;
}

.youtube a {
  color: #07F468;
  padding-top: 25%;
  padding-bottom: 25%;
  text-decoration: none;

}

.youtoo iframe {
  width: 40%;
  align-content: right;
}



footer {
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 80px;
  margin: auto;
  flex-direction: row;
  font-family: Neue;
  text-align: center;
  font-size: 18px;
  color: white;
  width: 100%;
}


.foot {
  margin: 0;
  border: 1px #fff;

}



footer img {
  width: 130px;
  height: 130px;
}

footer a {
  font-size: 36px;
  color: #07F468;
  text-decoration: none;
}


/* iPhone X, XR, 13, 13 Pro Max */
@media (max-width: 428px) {



  .overlay {
    transform: scale(0.8);
    margin: 0;
    margin-top: 100px;
    padding-top: 50px;
  }

  .video-background video {
    position: fixed;
    margin: 0;
  }

  .socail {
    margin-top: 300px;
    padding: 70px;
  }

  .socail h1 {
    font-size: 40px;
  }



  .overlay {
    margin-top: 200px;
    transform: scale(1.0);
  }



  .foot,
  footer,
  .content {
    margin: 0;
    padding: 0;
  }

  footer img {
    width: 100px;
    height: 100px;
  }

  footer {
    flex-direction: column;
    padding: 20px;
  }

  .navbar li {
    font-size: 15px;
    align-items: center;
    padding: 5px;

  }

  .navbar {
    gap: 0px;
  }

  navbar .btn {
    font-size: 15px;
    padding: 5px;
  }

  .navbar img,
  navbar .sticky img {
    margin: 0;
    width: 60px;
    height: 30px;
  }



  .sticky {
    position: fixed;

  }

  navbar .sticky .btn {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .youtoo {
    padding: 0px;
    flex-direction: column;
  }

  youtoo div {
    width: 100%;
  }

  .twitter {
    flex-direction: column;
    display: flex;

  }

  .twitter img {
    width: auto;
  }

  .twitter {
    width: auto;

  }

  .twitter a {
    font-size: 50px;
    padding-top: 10%;
    padding-bottom: 10%;

  }

  .youtube {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  youtube div {
    max-width: 100%;
  }


  .youtube a {
    font-size: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .youtoo youtube {
    width: auto;
  }


  .yottie_1 .yottie-widget-video-preview-play .maincolor {
    fill: rgb(7 244 104 / 0%) !important;
  }

  .socail img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

}



/* iPad Air*/
@media (width: 820px),
(height: 1180px) {
  #video-background video {
    position: fixed;
    margin: 0;
  }

  .overlay {
    margin-top: 200px;
    transform: scale(1.5);
  }

  #socail {
    margin-top: 200px;
  }
}


/* iPad Pro Portrait */
@media (width: 1024px),
(height: 1366px) {
  #video-background video {
    position: fixed;
    margin: 0;
  }

  .overlay {
    margin-top: 300px;
    transform: scale(1.5);
  }

  #socail {
    margin-top: 300px;
  }

}


/* iPad Pro Landscape */
@media (width: 1366px),
(height: 1024px) {

  #video-background video {
    position: fixed;
    margin: 0;
    margin-top: 15px;
    transform: scale(0.9);
  }

  .overlay {
    margin-top: 200px;
    transform: scale(1.5);
  }
}


@media (width: 1440px) {
  .overlay {
      margin-top: 40px;
      margin: 30px;
  }

}

