<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<body>
  <nav class="navbar">
    <img src="../../../assets/EASPORTSFCLogowhite.png" />
    <ul>
      <li><a href="#socail" type="btn">Socail Hub</a></li>
      <li><a type="btn">العربية</a></li>
    </ul>
    <a href="" class="btn">Pre-Order EAFC</a>
  </nav>

  <div class="video-background">
    <video
      autoplay
      muted
      loop
      src="../../../assets/ea-background-live.mp4"
      type="video/mp4"
    >
      < />
    </video>
    <div class="overlay">
      <div class="splash"></div>
    </div>
    <h1>Pre-Order</h1>
    <p>EA SPORTS FC™ is the next chapter in The World's Game.</p>
    <a class="btn">Pre-Order EA SPORTS FC</a>
  </div>

  <!-- Main Landing Page -->

  <!-- Content -->

  <section class="socail">
    <div class="socail-name">
      <img src="../../../assets/socialHub.png" />
      <h1>Social Hub</h1>
    </div>
  </section>

  <section id="twitter">
    <div class="twitter">
      <a href="https://twitter.com/easportsfcme" class="fa fa-twitter"></a>
    </div>
    <div class="tweets">
    <blockquote
      width="550px"
      class="twitter-tweet"
      data-lang="en"
      data-theme="dark"
    >
      <p lang="ar" dir="ltr">
        نتقدم إليكم جميعًا بالتهنئة بمناسبة حلول عيد الأضحى المبارك، وكل عام
        وأنتم بخير.
        <a href="https://t.co/1mI6kLlh9a">pic.twitter.com/1mI6kLlh9a</a>
      </p>
      &mdash; Electronic Arts ME (@easportsfcme)
      <a
        href="https://twitter.com/easportsfcme/status/1673694936443625475?ref_src=twsrc%5Etfw"
        >June 27, 2023</a
      >
    </blockquote>

    <blockquote width="550px" class="twitter-tweet" data-theme="dark"><p lang="ar" dir="rtl">شاركنا رأيك بتشكيلة الموسم للدوري السعودي <a href="https://twitter.com/SPL?ref_src=twsrc%5Etfw">@SPL</a> <a href="https://twitter.com/hashtag/FIFA23?src=hash&amp;ref_src=twsrc%5Etfw">#FIFA23</a><a href="https://twitter.com/hashtag/FUT?src=hash&amp;ref_src=twsrc%5Etfw">#FUT</a> <a href="https://t.co/FNrWkekuM2">pic.twitter.com/FNrWkekuM2</a></p>&mdash; Electronic Arts ME (@easportsfcme) <a href="https://twitter.com/easportsfcme/status/1657979231911944193?ref_src=twsrc%5Etfw">May 15, 2023</a></blockquote>
  </div>
  </section>

  <section class="youtoo">
    <div class="youtube">
      <a href="https://twitter.com/EA_ME" class="fa fa-youtube"></a>
    </div>

    <iframe
      width="950"
      height="850"
      src="https://www.youtube.com/embed/0tIW1X2dv0c"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <!-- <youtube>
      <div class="elfsight-app-214a4f35-fe7a-48ea-853a-4a6c25ae67b9"></div>
    </youtube> -->
  </section>

  <!-- Content end-->

  <!-- Footer -->
  <footer id="foot">
    <section class="foot">
      <span>EA SPORTS FC</span>
    </section>
    <div>
      <img src="../../../assets/fc24-authenticity-logo.png.adapt.320w.png" />
    </div>
    <section class="foot">
      <div class="footLogos">
        <span>Follow us</span>
        <a
          href="https://www.instagram.com/easportsfifa/"
          class="fa fa-instagram"
        ></a>
        <a
          href="https://www.facebook.com/EAGames/?brand_redir=24499718613"
          class="fa fa-facebook"
        ></a>
        <a href="https://twitter.com/EA_ME" class="fa fa-twitter"></a>
        <a
          href="https://www.youtube.com/@ElectronicArtsME/featured"
          class="fa fa-youtube"
        ></a>
      </div>
    </section>
  </footer>
  <!-- Footer end -->
</body>

