<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<body>
  <nav class="navbar">
    <img src="../../../assets/EASPORTSFCLogowhite.png" />
    <ul>
      <li><a href="#socail" type="btn">Socail Hub</a></li>
      <li><a type="btn">العربية</a></li>
    </ul>  
    <a href="" class="btn">Pre-Order EAFC</a>
  </nav>

  <div class="video-background">
    <video autoplay muted loop>
      <source src="../../../assets/ea-background-live.mp4" type="video/mp4" />
    </video>
    <div class="overlay">
      <div class="splash"></div>
    </div>
    <h1>Pre-Order</h1>
    <p>EA SPORTS FC™ is the next chapter in The World's Game.</p>
    <a class="btn">Pre-Order EA SPORTS FC</a>
  </div>

  <!-- Main Landing Page -->

  <!-- Content -->

  <section class="socail">
    <div class="socail-name">
      <img src="../../../assets/socialHub.png" />
      <h1>Social Hub</h1>
    </div>
  </section>

  <section id="twitter">
    <div class="twitter">
      <a href="https://twitter.com/EA_ME" class="fa fa-twitter"></a>
    </div>
    <img src="../../../assets/screenshotTwitter.png" />
  </section>

  <section class="youtoo">
    <div class="youtube">
      <a href="https://twitter.com/EA_ME" class="fa fa-youtube"></a>
    </div>

    <iframe width="950" height="800" src="https://www.youtube.com/embed/0tIW1X2dv0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


  </section>

  <!-- Content end-->

  <!-- Footer -->
  <footer id="foot">
    <section class="foot">
      <span>EA SPORTS FC</span>
    </section>
    <div>
      <img src="../../../assets/fc24-authenticity-logo.png.adapt.320w.png" />
    </div>
    <section class="foot">
      <span>Follow us</span>
      <a
        href="https://www.instagram.com/easportsfifa/"
        class="fa fa-instagram"
      ></a>
      <a
        href="https://www.facebook.com/EAGames/?brand_redir=24499718613"
        class="fa fa-facebook"
      ></a>
      <a href="https://twitter.com/EA_ME" class="fa fa-twitter"></a>
      <a
        href="https://www.youtube.com/@ElectronicArtsME/featured"
        class="fa fa-youtube"
      ></a>
    </section>
  </footer>
  <!-- Footer end -->
</body>
<script src="https://cdn.embedplaylist.com/js/playlist.js"></script>

