.form-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;

  h1{
    color: #2753da;
    font-weight: 500;
    margin-left: 35%;

  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  mat-form-field {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */

    mat-label {
      color: #ffffff60;
    }

    input, textarea, mat-select {
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }




    ::ng-deep .mdc-text-field{
      background-color: transparent;
    }

    .mat-datepicker-toggle,
    .mat-form-field-suffix {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  ::ng-deep .mat-mdc-checkbox label {
    color: #ffffff60 !important;
    cursor: pointer;
  }



  input[matInput], textarea[matInput] {
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .submit-btn{
    align-self: flex-end;
    width: 25%;
    background-color: #1f3371;
    color: #FFF;
    border-radius: 10px!important;

    &:disabled {
      background-color: #1f3371;
      color: #FFF;
      opacity: 0.5;
    }
  }

  ::ng-deep .mat-datepicker-toggle-default-icon {
    color: #ffffff60;
  }



  mat-datepicker {
    mat-calendar {
      border-radius: 10px;
    }
  }
}



