<div style="position: relative;">
<div class="search-container">
  <button mat-raised-button  style="margin-bottom: 1%; margin-left: 1%"class="back-button"color="primary"  (click)="backButton()">
    <mat-icon>arrow_back</mat-icon>
    BACK
  </button>
</div>
  <div class="row">
    <h1> Sales Person : {{salesperson}}</h1>
    <h2> Assigned to : {{assignedUser}}</h2>
    <div class="col-sm-4">
      <div class="card p-4">
        <div class="card-header bg-dark text-light">
          {{ this.brief.data.CampaignName }}
        </div>
        <div class="card-body">
          <p class="card-text">Agency: {{ brief.data.Agency }}</p>
          <p class="card-text">Client: {{ brief.data.Client }}</p>
          <p class="card-text">Client Industry: {{ brief.data.ClientIndustry }}</p>
          <p class="card-text">Campaign Overview: {{ brief.data.CampaignOverview }}</p>
          <p class="card-text">Campaign Objective: {{ brief.data.CampaignObjective }}</p>
          <p class="card-text">Campaign Objective Details: {{ brief.data.CampaignObjectiveDetails }}</p>
          <hr>
          <p class="card-text">Number of Recommendations: {{ brief.data.NumberofRecommendations }}</p>
          <p class="card-text">Currency: {{ brief.data.Currency }}</p>
          <p class="card-text">Budget: {{ brief.data.Budget }}</p>
          <p class="card-text">Campaign Start Date: {{ brief.data.CampaignStartDate | date }}</p>
          <p class="card-text">Campaign End Date: {{ brief.data.CampaignEndDate | date }}</p>
          <p class="card-text">Campaign Message Phase One: {{ brief.data.CampaignMessagePhaseOne }}</p>
          <p class="card-text">Campaign Message Phase Two: {{ brief.data.CampaignMessagePhaseTwo }}</p>
          <p class="card-text">Campaign Message Phase Three: {{ brief.data.CampaignMessagePhaseThree }}</p>
          <p class="card-text">Content Deliverables: {{ brief.data.ContentDeliverables }}</p>
          <p class="card-text">Brand Exclusivity Duration in Days: {{ brief.data.BrandExclusivityDurationinDays }}</p>
          <p class="card-text">Video Production: <span *ngIf="brief.data.VideoProduction == 1"> Yes </span> <span *ngIf="brief.data.VideoProduction == 0"> No</span></p>
          <p class="card-text">Video Editing: <span *ngIf="brief.data.VideoEditing == 1"> Yes </span> <span *ngIf="brief.data.VideoEditing == 0"> No</span></p>
          <hr>
          <p class="card-text">Influencer Age Range: {{ brief.data.InfluencerAgeRange | ageGroup }}</p>
          <p class="card-text">Influencer Location: {{ brief.data.InfluencerLocation }}</p>
          <p class="card-text">Influencer Nationality: {{ brief.data.InfluencerNationality }}</p>
          <p class="card-text">Influencer Gender: {{ brief.data.InfluencerGender }}</p>
          <p class="card-text">Similar Profile Link: {{ brief.data.SimilarProfileLink }}</p>
          <p class="card-text">Influencer Interest: {{ brief.data.InfluencerInterest }}</p>
          <p class="card-text">Influencer Number Of Followers: {{ brief.data.InfluencerNumberOfFollowers }}</p>
          <p class="card-text">Note For Number Of Followers: {{ brief.data.NoteForNumberOfFollowers }}</p>
          <hr>
          <p class="card-text">Audience Age Range: {{ brief.data.AudienceAgeRange | ageGroup}}</p>
          <p class="card-text">Audience Location: {{ brief.data.AudienceLocation }}</p>
          <p class="card-text">Audience Nationality: {{ brief.data.AudienceNationality }}</p>
          <p class="card-text">Audience Gender: {{ brief.data.AudienceGender }}</p>
          <p class="card-text">Audience Interest: {{ brief.data.AudienceInterest }}</p>
          <p class="card-text">Confirmed Influencer Handles: {{ brief.data.ConfirmedInfluencerHandles }}</p>
          <p class="card-text">Previous Brand Ambassadors Name: {{ brief.data.PreviousBrandAmbassadorsName }}</p>
          <p class="card-text">Created At: {{ brief.data.createdAt | date }}</p>
          <p class="card-text">Updated At: {{ brief.data.updatedAt | date }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div *ngIf="user_id === task.assigned_to">
        <form [formGroup]="progressForm" autocomplete="off">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Progress</mat-label>
              <mat-select formControlName="Progress">
                <mat-option *ngFor="let num of [0,1,2,3,4,5,6,7,8,9,10]" [value]="num">{{num}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="submitProgress()"> Change Progress </button>
        </form>
      </div>
      <div>
        <table class="my-table" >
          <tr>
            <th class="centered"> File Type</th>
            <th class="centered" > File Name</th>
            <th class="centered" > Uploaded On</th>
            <th class="centered" > Download </th>
            <th class="centered"> Choose File</th>
            <th class="centered"> Upload </th>
            <th class="centered"> Status  </th>
            <th class="centered"> Notes </th>
          </tr>

          <tr>
            <td> Excel Sheet</td>
            <td *ngIf="budgetSheet" > {{budgetSheet.originalname}} </td> <td *ngIf="!budgetSheet" >  </td>
            <td *ngIf="budgetSheet">  {{budgetSheet.createdAt | date}}</td> <td *ngIf="!budgetSheet"></td>
            <td *ngIf="budgetSheet" > <button mat-raised-button color="primary" (click)="downloadFilexlsx(budgetSheet.id, budgetSheet.originalname)"> Download</button> </td> <td *ngIf="!budgetSheet"></td>

            <td> <input  type="file" (change)="handleFileInput($event)" /> </td>
            <td *ngIf="!budgetApproved">  <button mat-raised-button color="primary" *ngIf="user_id === task.assigned_to" (click)="uploadFileXlsx()">Upload</button> </td> <td *ngIf="budgetApproved"> Approved </td>

            <td *ngIf="budgetSheet"> {{ budgetApproved | boolean: 'Approved':'Not Approved' }} </td> <td *ngIf="!budgetSheet"></td>
            <td *ngIf="!budgetApproved"> {{budgetNotes}}</td> <td *ngIf="budgetApproved"> Send to Sales </td>  <td *ngIf="!budgetSheet"></td>
          </tr>

          <tr>
            <td> Presentation </td>
            <td *ngIf="presentation">  {{presentation.originalname}}  </td> <td *ngIf="!presentation" >  </td>
            <td *ngIf="presentation">  {{presentation.createdAt | date }}</td> <td *ngIf="!presentation"></td>
            <td *ngIf="presentation"> <button mat-raised-button color="primary" (click)="downloadFilePPTX(presentation.id,presentation.originalname)"> Download</button> </td> <td *ngIf="!presentation"></td>

            <td> <input  type="file" (change)="handleFileInput($event)" /> </td>
            <td *ngIf="!presentationApproved">  <button mat-raised-button color="primary" *ngIf="user_id === task.assigned_to" (click)="uploadFilePPTX()">Upload</button></td> <td *ngIf="presentationApproved">  Approved </td>

            <td *ngIf="presentation"> {{presentationApproved | boolean: 'Approved':'Not Approved' }} </td> <td *ngIf="!presentation"></td>
            <td *ngIf="!presentationApproved"> {{presentationNotes}}</td>  <td *ngIf="presentationApproved"> Send to Sales </td><td *ngIf="!presentation"></td>
          </tr>

        </table>


        <button *ngIf="budgetApproved && presentationApproved" mat-raised-button color="primary" (click)="salesBriefReady()"> Send to Sales </button>
  </div>
  <div *ngIf="user_id === task.assigned_to">
  <form [formGroup]="influencersForm">
    <table class="my-table" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Followers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr formArrayName="rows" *ngFor="let row of rows.controls; index as i;">
          <td [formGroupName]="i">
            <input formControlName="id" readonly/>
          </td>
          <td [formGroupName]="i">
            <input formControlName="name" readonly/>
          </td>
          <td [formGroupName]="i">
            <input formControlName="email" />
          </td>
          <td [formGroupName]="i">
            <input formControlName="followers" />
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="removeRow(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button mat-raised-button (click)="openDialog()">Add Influencer</button>
  </form>
</div>
</div>


</div>
