<div class="form-container">
  <form [formGroup]="logForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <mat-form-field>
        <mat-label>Influencer</mat-label>
        <mat-select formControlName="Influencer">
          <mat-option *ngFor="let option of influencers" [value]="option.id">{{
            option.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Campaign </mat-label>
        <input
          matInput
          type="text"
          formControlName="Campaign"
          autocomplete="off"
          required
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Notes </mat-label>
        <textarea
          matInput
          formControlName="Notes"
          rows="2"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Time to reply </mat-label>
        <input
          matInput
          type="text"
          formControlName="Time_to_reply"
          autocomplete="off"
          required
        />
      </mat-form-field>
    </div>
  </form>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="fields">
      <div
        *ngFor="let field of fields.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row">
          <mat-form-field>
            <mat-label>Platform {{ i + 1 }}</mat-label>
            <mat-select
              formControlName="Platform"
              (change)="onPlatformChange(i)"
            >
              <mat-option *ngFor="let option of platforms" [value]="option">{{
                option
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Deliverable</mat-label>
            <mat-select formControlName="Deliverable">
              <mat-option
                *ngFor="let option of getAvailableDeliverables(i)"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                type="number"
                formControlName="Quantity"
                autocomplete="off"
                required
              />
            </mat-form-field>

          <mat-form-field>
              <mat-label>Currency</mat-label>
              <mat-select formControlName="Currency" required>
                <mat-option *ngFor="let option of currencies" [value]="option">{{
                  option
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Rate</mat-label>
              <input
                matInput
                type="number"
                formControlName="Rate"
                autocomplete="off"
                required
              />
            </mat-form-field>

            <button class="icon-btn" style="max-width: 5%;"  (click)="removeFields(i)"><mat-icon> delete </mat-icon></button>
        </div>
      </div>
    </div>
    <div class="row">
      <button
        mat-raised-button
        class="btn-color"
        [disabled]="!(logForm.valid && form.valid) || fields.length == 0"
        type="submit"
      >
        Edit
      </button>

    </div>
  </form>
</div>
