<div class="container">
  <h2>Celebrity Files</h2>

  <div class="input-group custom-file-button">
      <label class="input-group-text" for="inputGroupFile">Choose your file</label>
      <input type="file" class="form-control" id="inputGroupFile" (change)="onFileSelected($event)">
      <label class="input-group-text" (click)="uploadFile()">Upload file</label>
  </div>

  <!-- Loading GIF -->
  <div class="loading-container" *ngIf="isLoading">
      <img src="../../../../../assets/gifs/loading.svg" alt="Loading...">
  </div>

  <!-- File List Table -->
  <div class="file-list" *ngIf="!isLoading"> 
      <table class="table-rounded">
          <thead>
              <tr>
                  <th>File Name</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let file of celebrityFiles">
                  <td>{{ transformFilename(file.filename) }}</td>
                  <td>
                    <button class="icons-btn edit-button" (click)="openFile(file.id, file.filename)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                      <button class="icons-btn edit-button" (click)="downloadFile(file.id, file.filename)"><mat-icon>download</mat-icon></button>
                      <button class="delete-btn">
                          <mat-icon mat-raised-button (click)="deleteFile(file.id)">delete</mat-icon>
                      </button>
                    
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
