::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--disabled {
  background-color: grey;
}
.row{
  padding-bottom: 30px;
}

.add-btn{
  border-radius: 15px;
  width: 20vw;
}
