<ng-container [formGroup]="form">
  <div class="row" style="padding-top: 20px;">
    <mat-form-field>
      <mat-label>Agency</mat-label>
      <input matInput type="text" formControlName="Agency" autocomplete="off" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Client</mat-label>
      <mat-select formControlName="clientId" >
        <mat-option *ngFor="let option of clients" [value]="option.id">{{
          option.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Brand</mat-label>
      <mat-select formControlName="brandId">
        <mat-option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Campaign Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="CampaignName"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Campaign Overview</mat-label>
      <textarea
        matInput
        formControlName="CampaignOverview"
        rows="1"
        autocomplete="off"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Campaign Objective</mat-label>
      <mat-select formControlName="CampaignObjective">
        <mat-option
          *ngFor="let option of campaignobjectives.sort()"
          [value]="option"
          >{{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Campaign Objective Details</mat-label>
      <textarea
        matInput
        formControlName="CampaignObjectiveDetails"
        rows="1"
        autocomplete="off"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Number of recommendations</mat-label>
      <input matInput type="text" [value]="formatNumber(recommendationsForm.get('NumberofRecommendations')?.value)" (input)="onRecommendationsInput($any($event.target).value)" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select formControlName="Currency">
        <mat-option *ngFor="let option of currencies" [value]="option">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Approximate Budget</mat-label>
      <input
      matInput
      type="text"
      [value]="formatNumber(form.get('Budget')?.value)"
      (input)="onBudgetInput($any($event.target).value)"
      autocomplete="off"
    />

    </mat-form-field>
  </div>
</ng-container>
