<div class="form-container">
<form [formGroup]="form">
  <mat-form-field appearance="outline" style="width : 30%">
  <mat-label>Please add a file name</mat-label>
  <input  matInput type="text" formControlName="fileName"  autocomplete="off" />
  </mat-form-field>

  <table class="my-table">
    <thead>
      <tr>
        <th>Nb</th>
        <th>Name</th>
        <th>Platform</th>
        <th>Social Link</th>
        <th>Followers</th>
        <th>Deliverables</th>
        <th>Currency</th>
        <th>Estimated Budget</th>
        <th *ngIf="assignedUser_id.includes(userId)">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr formArrayName="rows" *ngFor="let row of rows.controls; index as i">
        <td [formGroupName]="i">
          <input formControlName="nb" readonly class="no-border" required />
        </td>
        <td [formGroupName]="i">
          <input formControlName="name" readonly class="no-border" required />
        </td>

        <td [formGroupName]="i">
          <select
            formControlName="platform"
            (change)="updateFields(i, $event)"
            required
          >
            <option *ngFor="let platform of platforms" [value]="platform">
              {{ platform }}
            </option>
          </select>
        </td>

        <td [formGroupName]="i">
          <input formControlName="socialLink" class="no-border" required />
        </td>
        <td [formGroupName]="i">
          <input
            formControlName="followers"
            class="no-border"
            type="number"
            required
          />
        </td>
        <td [formGroupName]="i">
          <textarea formControlName="deliverables" class="no-border" required>
          </textarea>
        </td>
        <td [formGroupName]="i">
          <select formControlName="currency">
            <option
              *ngFor="let currency of currencies"
              [value]="currency"
              required
            >
              {{ currency }}
            </option>
          </select>
        </td>
        <td [formGroupName]="i">
          <input
            formControlName="estimatedBudget"
            class="no-border"
            required
            type="number"
          />
        </td>

        <td *ngIf="assignedUser_id.includes(userId)">
          <button class="icon-btn" (click)="removeRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button (click)="openDialog()" *ngIf="assignedUser_id.includes(userId)">
    Add Influencer
  </button>
  <button
    [disabled]="!form.valid"
    class="submit"
    mat-raised-button
    *ngIf="assignedUser_id.includes(userId)"
    style="margin-left: 2%"

    (click)="submitTable()"
  >
    Submit
  </button>
</form>
</div>
