<form [formGroup]="form">
  <table class="my-table">
    <thead>
      <tr>
        <th style="width: 5%">Nb</th>
        <th style="width: 5%">Name</th>
        <th style="width: 10%">Platform</th>
        <th style="width: 10%">Social Link</th>
        <th style="width: 10%">Followers</th>
        <th style="width: 20%">Deliverables</th>
        <th style="width: 10%">Currency</th>
        <th style="width: 20%">Estimated Budget</th>
        <th style="width: 10%" *ngIf="user_id === task?.assigned_to">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr formArrayName="rows" *ngFor="let row of rows.controls; index as i">
        <td [formGroupName]="i">
          <input formControlName="nb" readonly class="no-border" required />
        </td>
        <td [formGroupName]="i">
          <input formControlName="name" readonly class="no-border" required />
        </td>

        <td [formGroupName]="i">
          <select
            formControlName="platform"
            (change)="updateFields(i, $event)"
            required
          >
            <option *ngFor="let platform of platforms" [value]="platform">
              {{ platform }}
            </option>
          </select>
        </td>

        <td [formGroupName]="i">
          <input formControlName="socialLink" class="no-border" required />
        </td>
        <td [formGroupName]="i">
          <input
            formControlName="followers"
            class="no-border"
            type="number"
            required
          />
        </td>
        <td [formGroupName]="i">
          <textarea formControlName="deliverables" class="no-border" required>
          </textarea>
        </td>
        <td [formGroupName]="i">
          <select formControlName="currency">
            <option
              *ngFor="let currency of currencies"
              [value]="currency"
              required
            >
              {{ currency }}
            </option>
          </select>
        </td>
        <td [formGroupName]="i">
          <input
            formControlName="estimatedBudget"
            class="no-border"
            required
            type="number"
          />
        </td>

        <td *ngIf="user_id === task?.assigned_to">
          <button mat-raised-button color="accent" (click)="removeRow(i)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button (click)="openDialog()" *ngIf="user_id === task?.assigned_to">
    Add Influencer
  </button>
  <button
    mat-raised-button
    *ngIf="user_id === task?.assigned_to"
    style="margin-left: 2%"
    color="primary"
    (click)="submitTable()"
  >
    Submit
  </button>
</form>
