<div class="container">
<div *ngIf="package">
  <!-- Material Table structure starts here -->
  <mat-table [dataSource]="log.packages" class="mat-elevation-z8">

    <!-- Column Definitions -->
    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef> Platform </mat-header-cell>
      <mat-cell *matCellDef="let package"> {{ package?.platform }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliverable">
      <mat-header-cell *matHeaderCellDef> Deliverable </mat-header-cell>
      <mat-cell *matCellDef="let package"> {{ package?.deliverable }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let package"> {{ package?.quantity | number:'1.0-0' }} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumnsForPackages"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsForPackages;"></mat-row>

  </mat-table>

  <hr>

  <h2>Reply Time : {{log.time_to_reply}}</h2>
  <h2>Notes: {{ log.notes }}</h2>
  <h2>Rate: {{ log.currency }} {{ log.rate  }}</h2>
</div>


  <!-- view single logs -->
<div *ngIf="single">

    <div class="log-details mat-elevation-z8">
      <div class="log-detail">
        <span class="log-label">Platform:</span>
        <span>{{log.logItems.platform}}</span>
      </div>
      <div class="log-detail">
        <span class="log-label">Deliverable:</span>
        <span>{{log.logItems.deliverable}}</span>
      </div>
      <div class="log-detail">
        <span class="log-label">Quantity:</span>
        <span>{{log.logItems.quantity | number:'1.0-0'}}</span>
      </div>
      <div class="log-detail">
        <span class="log-label">Currency:</span>
        <span>{{log.logItems.currency}}</span>
      </div>
      <div class="log-detail">
        <span class="log-label">Rate:</span>
        <span>{{log.logItems.rate | number:'1.2-2'}}</span>
      </div>
      <h2>Reply Time: {{log.time_to_reply}}</h2>
      <h2>Notes: {{log.notes}}</h2>
    </div>

</div>

</div>
