* {
  margin: 0px;
  padding: 0px;
}

body {
  background: radial-gradient(circle, rgba(255,255,255,0.1) 35%, hsla(232, 60%, 40%, 0.7) 60%, hsla(232, 60%, 50%, 0.7) 77%);
  background-size: 400% 400%;
  animation: gradient 7s ease-in-out;
  animation-fill-mode: forwards;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar {

  padding: 15px;
  justify-content:center;
}

.navbar img {

  width: 60px;
  height: 50px;
  cursor: pointer;
}

.link {
  margin-left: 30px;
padding: 10px;
color: white;
text-decoration: none;
align-self: auto;
}


.login {
  font-family: 'roboto';
  margin-left: auto;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  transition: 200ms;

}

.login:hover{
  background-color: white;
  color: black;
  transition: 400ms;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 50px;
  font-family: Neue;
  padding: 100px;
  color: white;
  margin-top: 250px;
}

.title-1 {
  font-size: 10vh;

  -webkit-animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 1.5s both;
  animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 1.5s both;
}

.title-2 {
  display: flex;
  font-size: 8vh;
  margin: 0px;
  -webkit-animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 2.8s both;
  animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 2.8s both;
}



.title-3 {
  display: flex;
  align-self: baseline;
  background-color: white;
  padding: 25px;
  max-width: fit-content;
  color: black;
  -webkit-animation:fade-in 3.5s cubic-bezier(.39,.575,.565,1.000) 4.5s both;
  animation:fade-in 3.5s cubic-bezier(.39,.575,.565,1.000) 4.5s both;
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.itp {
  margin-top: 15px;
  display: flex;
  font-size: 9vh;
  font-family: 'Times New Roman', Times, serif;
}

.portal {
  font-size: 5vh;
  padding-top: 5px;
  padding-left: 20px;
  font-weight: 100;
  margin: 0px;
}

.portal-btn {
  border: 1px solid white;
  color: white;
  max-width: fit-content;

  padding: 10px 20px;
  transition: 200ms;
  text-decoration: none;
  font-size: 16px;
  font-family: 'roboto';
  -webkit-animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 6.5s both;
  animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) 6.5s both;
}


.portal-btn:hover {
  background-color: white;
  color: black;
  transition: 400ms;
}


#video-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

@media (max-width: 1440px), (max-height: 900px) {
  .overlay{
      margin-top: 150px;
      gap: 30px;
      padding: 80px;
  }
}


.maintenance{
  background-image: url("../../../assets/images/maintanance_page.png");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
